In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [3]:
df = pd.read_csv('/Users/maurits/Documents/Ironhack/week_05/gpw5+6/vanguard-ab-test/data/clean/dataset_TVC_MS.csv')

In [6]:
df.head()

,Unnamed: 0,client_id,level_1,reached_confirm,went_back,TD,SD,S1,S2,S3,...,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,clnt_age_rounded,age_category
0,0,555,reached_confirm,True,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
1,1,555,total_duration_minutes,NaN,NaN,2.633333,NaN,NaN,NaN,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
2,2,555,step_1_duration,NaN,NaN,NaN,NaN,0.533333,NaN,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
3,3,555,step_2_duration,NaN,NaN,NaN,NaN,NaN,1.65,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
4,4,555,went_back,NaN,False,NaN,NaN,NaN,NaN,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30

In [93]:
df.columns

Index(['Unnamed: 0', 'client_id', 'level_1', 'reached_confirm', 'went_back',
       'TD', 'SD', 'S1', 'S2', 'S3', 'BS', 'BS1', 'BS2', 'Variation',
       'clnt_tenure_yr', 'clnt_tenure_mnth', 'clnt_age', 'gendr', 'num_accts',
       'bal', 'calls_6_mnth', 'logons_6_mnth', 'clnt_age_rounded',
       'age_category'],
      dtype='object')

In [95]:
df_control = df[df['Variation'] == 'Control']
df_test = df[df['Variation'] == 'Test']

In [105]:
# Get total client unique ids in test start
# Get total client unique ids in control start
# Get total client unique ids in test finish
# Get total client unique ids in control finish
size_control = df_control['client_id'].nunique()
size_test = df_test['client_id'].nunique()

In [117]:
difference_size = size_test / size_control
difference_size

1.1460139384667687

In [21]:
df_control_finished = df_control[df_control['reached_confirm'] == True]
df_test_finished = df_test[df_test['reached_confirm'] == True]

In [75]:
#Total balance in millions TEST
total_balance_test = (df_test_finished['bal'].sum()) / 1000000
total_balance_test

2752.90767389

In [111]:
#normalise balance test group for size in control group
total_balance_test_adj = total_balance_test / difference_size
total_balance_test_adj

2402.158980346317

In [77]:
#Total balance in millions CONTROL
total_balance_control = (df_control_finished['bal'].sum()) / 1000000
total_balance_control

2350.24337176

In [178]:
# improvement $ millions
improvement = total_balance_test_adj - total_balance_control

In [115]:
# improvement %
(total_balance_test_adj / total_balance_control)-1

0.022089460695910557

Client balance seems to have improved with 2.21% between test and control groups. Since completion rate seems to not have made any improvement, the new UI design may have onboarded a wealthier customer.

In [121]:
df_control_finished

,Unnamed: 0,client_id,level_1,reached_confirm,went_back,TD,SD,S1,S2,S3,...,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,clnt_age_rounded,age_category
33,33,1195,reached_confirm,True,NaN,NaN,NaN,NaN,NaN,NaN,...,21.0,262.0,54.5,M,2.0,28457.96,2.0,5.0,54.0,50-60
43,43,1197,reached_confirm,True,NaN,NaN,NaN,NaN,NaN,NaN,...,7.0,85.0,28.5,U,5.0,177062.14,5.0,8.0,28.0,20-30
118,118,3743,reached_confirm,True,NaN,NaN,NaN,NaN,NaN,NaN,...,6.0,75.0,30.0,U,3.0,48262.21,3.0,6.0,30.0,30-40
156,156,5354,reached_confirm,True,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,58.0,50.5,U,2.0,62282.38,2.0,5.0,50.0,50-60
177,177,6642,reached_confirm,True,NaN,NaN,NaN,NaN,NaN,NaN,...,12.0,149.0,35.5,M,2.0,34987.23,0.0,3.0,36.0,30-40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285610,285610,9996711,reached_confirm,True,NaN,NaN,NaN,NaN,NaN,NaN,...,11.0,142.0,42.5,M,2.0,122486.93,2.0,5.0,42.0,40-50
285625,285625,9997114,reached_confirm,True,NaN,NaN,NaN,NaN,NaN,NaN,...,22.0,264.0,44.5,M,2.0,80740.80,1.0,4.0,44.0,40-50
285630,285630,9997125,reached_confirm,True,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,70.0,57.5,U,2.0,38151.27,0.0,3.0,58.0,50-60
285648,285648,9997470,reached_confirm,True,NaN,NaN,NaN,NaN,NaN,NaN,...,6.0,82.0,36.0,U,2.0,53543.03,0.0,3.0,36.0,30-40
285663,285663,9998346,reached_confirm,True,NaN,NaN,NaN,NaN,NaN,NaN,...,50.0,602.0,61.5,F,2.0,149881.38,6.0,9.0,62.0,60-70

In [186]:
bal_control = df_control_finished.groupby(['age_category'])['bal'].sum()
bal_test = df_test_finished.groupby(['age_category'])['bal'].sum() 
bal_control = pd.DataFrame(bal_control)
bal_concat = pd.concat([bal_control, bal_test], axis=1, join='outer', ignore_index=True)

#age groups are weighted equally amongst control and test group, so we can adjust all age groups by the general difference found.
bal_concat['bal_test_adj'] = bal_concat[1] / difference_size
bal_concat = bal_concat.rename(columns={0: 'bal_control', 1: 'bal_test'})
bal_concat['bal_difference_$'] = bal_concat['bal_test_adj'] - bal_concat['bal_control']
bal_concat['bal_difference_%'] = (bal_concat['bal_test_adj'] / bal_concat['bal_control'])-1
bal_perf_byage = bal_concat

sum_bal_diff = bal_concat['bal_difference_$'].sum() #test, should be the same as improvement * 1,000,000
sum_bal_diff / (improvement*1000000) # result is 1.000, so valid

bal_perf_byage
# highest value increases in lower age categories, suggesting that the newer UI is more appealing to younger audiences. We see a 6.1% value decrease in agegroup "over 70"

,bal_control,bal_test,bal_test_adj,bal_difference_$,bal_difference_%
age_category,,,,,
20-30,1.586042e+08,1.998512e+08,1.743881e+08,1.578386e+07,0.099517
30-40,2.930718e+08,3.500877e+08,3.054829e+08,1.241108e+07,0.042348
40-50,3.850276e+08,4.595555e+08,4.010035e+08,1.597589e+07,0.041493
50-60,6.311853e+08,7.406811e+08,6.463107e+08,1.512538e+07,0.023963
60-70,6.467433e+08,7.475986e+08,6.523469e+08,5.603649e+06,0.008664
over 70,2.291777e+08,2.466140e+08,2.151929e+08,-1.398483e+07,-0.061022
under 20,6.390919e+06,8.519534e+06,7.434058e+06,1.043139e+06,0.163222

Highest value increases in lower age categories, suggesting that the newer UI is more appealing to younger audiences. We see a 6.1% value decrease in agegroup "over 70"