In [29]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [30]:
df = pd.read_csv(('/Users/tovancao/Ironhack/Group Projects/W5_Vanguard Group_Project/LAST FILES/df_process_clients.csv'), parse_dates=['date_time'])

In [31]:
df

,client_id,visitor_id,visit_id,process_step,date_time,Variation,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,clnt_age_rounded,age_category
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,79.0,over 70
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,79.0,over 70
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,79.0,over 70
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,79.0,over 70
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,79.0,over 70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321304,6334360,629124187_65258232847,586047816_14599436811_389185,step_2,2017-04-11 08:45:38,Test,4.0,53.0,66.5,U,2.0,93103.47,6.0,9.0,66.0,60-70
321305,6334360,629124187_65258232847,586047816_14599436811_389185,step_1,2017-04-11 08:44:43,Test,4.0,53.0,66.5,U,2.0,93103.47,6.0,9.0,66.0,60-70
321306,6334360,629124187_65258232847,586047816_14599436811_389185,step_2,2017-04-11 08:44:30,Test,4.0,53.0,66.5,U,2.0,93103.47,6.0,9.0,66.0,60-70
321307,6334360,629124187_65258232847,586047816_14599436811_389185,step_1,2017-04-11 08:42:36,Test,4.0,53.0,66.5,U,2.0,93103.47,6.0,9.0,66.0,60-70
321308,6334360,629124187_65258232847,586047816_14599436811_389185,start,2017-04-11 08:42:20,Test,4.0,53.0,66.5,U,2.0,93103.47,6.0,9.0,66.0,60-70

In [32]:
df.nunique()

client_id            50500
visitor_id           56011
visit_id             69205
process_step             5
date_time           283344
Variation                2
clnt_tenure_yr          53
clnt_tenure_mnth       469
clnt_age               158
gendr                    4
num_accts                7
bal                  50312
calls_6_mnth             7
logons_6_mnth            7
clnt_age_rounded        79
age_category             7
dtype: int64

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 321309 entries, 0 to 321308
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   client_id         321309 non-null  int64
 1   visitor_id        321309 non-null  object
 2   visit_id          321309 non-null  object
 3   process_step      321309 non-null  object
 4   date_time         321309 non-null  datetime64[ns]
 5   Variation         321309 non-null  object
 6   clnt_tenure_yr    321207 non-null  float64
 7   clnt_tenure_mnth  321207 non-null  float64
 8   clnt_age          321195 non-null  float64
 9   gendr             321207 non-null  object
 10  num_accts         321207 non-null  float64
 11  bal               321207 non-null  float64
 12  calls_6_mnth      321207 non-null  float64
 13  logons_6_mnth     321207 non-null  float64
 14  clnt_age_rounded  321195 non-null  float64
 15  age_category      321195 non-null  object
dtypes: datetime64[ns](1), float64(8), int64(1), object(6)
memory usage: 39.2+ MB

In [34]:
# df_test = df[df['Variation'] == 'Test']
# df_control = df[df['Variation'] == 'Control']

# IMPORTANT!!!! Even though the formulas say control below, this concerns the whole dataset (both control and test group)!!!

In [36]:
df_control = df

In [37]:
# import pandas as pd
# from datetime import datetime
# from collections import defaultdict

# # Assuming the data is already in a DataFrame called 'df'
# # If not, you'd need to load it first, e.g.:
# # df = pd.read_csv('your_data.csv')

# # Convert date_time to datetime
# df['date_time'] = pd.to_datetime(df['date_time'], format='%d/%m/%Y %H:%M')

# # Sort the dataframe by client_id and date_time
# df = df.sort_values(['client_id', 'date_time'])

# def analyze_client(group):
#     steps = group['process_step'].tolist()
#     times = group['date_time'].tolist()
    
#     went_back = False
#     reached_confirm = False
#     total_duration = None
#     step_durations = defaultdict(float)
#     backtrack_durations = defaultdict(float)
    
#     if 'start' in steps and 'confirm' in steps:
#         reached_confirm = True
#         start_time = group[group['process_step'] == 'start']['date_time'].iloc[0]
#         confirm_time = group[group['process_step'] == 'confirm']['date_time'].iloc[-1]
#         total_duration = (confirm_time - start_time).total_seconds() / 60  # in minutes
    
#     max_step = 0
#     current_step = 'start'
#     last_time = times[0]
    
#     for step, time in zip(steps[1:], times[1:]):
#         duration = (time - last_time).total_seconds() / 60  # in minutes
        
#         if step.startswith('step_'):
#             step_num = int(step.split('_')[1])
#             if step_num < max_step:
#                 went_back = True
#                 backtrack_durations[f'backtrack_to_{step}'] += duration
#             else:
#                 max_step = step_num
        
#         step_durations[current_step] += duration
#         current_step = step
#         last_time = time
    
#     result = {
#         'went_back': went_back,
#         'reached_confirm': reached_confirm,
#         'total_duration_minutes': total_duration
#     }
    
#     # Add step durations to result
#     for step, duration in step_durations.items():
#         result[f'{step}_duration'] = duration
    
#     # Add backtrack durations to result
#     for step, duration in backtrack_durations.items():
#         result[step] = duration
    
#     return pd.Series(result)

# # Apply the analysis function to each client group
# result = df.groupby('client_id').apply(analyze_client).reset_index()

# # Display the results
# print(result)

# # Additional analysis
# print("\nSummary statistics:")
# print(result.describe())

# print("\nCount of clients who went back to previous steps:")
# print(result['went_back'].value_counts())

# print("\nAverage duration for clients who reached confirm stage:")
# print(result[result['reached_confirm']]['total_duration_minutes'].mean())

# print("\nAverage duration for each step:")
# step_columns = [col for col in result.columns if col.endswith('_duration')]
# print(result[step_columns].mean())

# print("\nAverage backtrack durations:")
# backtrack_columns = [col for col in result.columns if col.startswith('backtrack_to_')]
# print(result[backtrack_columns].mean())

In [140]:
import pandas as pd
from datetime import datetime
from collections import defaultdict

# Assuming the data is already in a DataFrame called 'df'
# If not, you'd need to load it first, e.g.:
# df = pd.read_csv('your_data.csv')

# Convert date_time to datetime
df_control['date_time'] = pd.to_datetime(df_control['date_time'], format='%d/%m/%Y %H:%M')

# Sort the dataframe by client_id and date_time
df_control = df_control.sort_values(['client_id', 'date_time'])

def analyze_client(group):
    steps = group['process_step'].tolist()
    times = group['date_time'].tolist()
    
    went_back = False
    reached_confirm = False
    total_duration = None
    step_durations = defaultdict(float)
    backtrack_durations = defaultdict(float)
    
    if 'start' in steps and 'confirm' in steps:
        reached_confirm = True
        start_time = group[group['process_step'] == 'start']['date_time'].iloc[0]
        confirm_time = group[group['process_step'] == 'confirm']['date_time'].iloc[-1]
        total_duration = (confirm_time - start_time).total_seconds() / 60  # in minutes
    
    max_step = 0
    current_step = 'start'
    last_time = times[0]
    
    for step, time in zip(steps[1:], times[1:]):
        duration = (time - last_time).total_seconds() / 60  # in minutes
        
        if step.startswith('step_'):
            step_num = int(step.split('_')[1])
            if step_num < max_step:
                went_back = True
                backtrack_durations[f'backtrack_to_{step}'] += duration
            else:
                max_step = step_num
        
        step_durations[current_step] += duration
        current_step = step
        last_time = time
    
    result = {
        'went_back': went_back,
        'reached_confirm': reached_confirm,
        'total_duration_minutes': total_duration
    }
    
    # Add step durations to result
    for step, duration in step_durations.items():
        result[f'{step}_duration'] = duration
    
    # Add backtrack durations to result
    for step, duration in backtrack_durations.items():
        result[step] = duration
    
    return pd.Series(result)

# Apply the analysis function to each client group
result_control = df_control.groupby('client_id').apply(analyze_client).reset_index()

/var/folders/m0/_0k_jj7j231cxr746m3qlspm0000gn/T/ipykernel_95923/577244629.py:67: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  result_control = df_control.groupby('client_id').apply(analyze_client).reset_index()

In [148]:
import pandas as pd
from datetime import datetime
from collections import defaultdict

# Assuming the data is already in a DataFrame called 'df'
# If not, you'd need to load it first, e.g.:
# df = pd.read_csv('your_data.csv')

# Convert date_time to datetime
df_control['date_time'] = pd.to_datetime(df_control['date_time'], format='%d/%m/%Y %H:%M')

# Sort the dataframe by client_id and date_time
df_control = df_control.sort_values(['client_id', 'date_time'])

def analyze_client(group):
    steps = group['process_step'].tolist()
    times = group['date_time'].tolist()
    
    went_back = False
    reached_confirm = False
    total_duration = None
    step_durations = defaultdict(float)
    backtrack_durations = defaultdict(float)
    
    if 'start' in steps and 'confirm' in steps:
        reached_confirm = True
        start_time = group[group['process_step'] == 'start']['date_time'].iloc[0]
        confirm_time = group[group['process_step'] == 'confirm']['date_time'].iloc[-1]
        total_duration = (confirm_time - start_time).total_seconds() / 60  # in minutes
    
    max_step = 0
    current_step = 'start'
    last_time = times[0]
    
    for step, time in zip(steps[1:], times[1:]):
        duration = (time - last_time).total_seconds() / 60  # in minutes
        
        if step.startswith('step_'):
            step_num = int(step.split('_')[1])
            if step_num < max_step:
                went_back = True
                backtrack_durations[f'backtrack_to_{step}'] += duration
            else:
                max_step = step_num
        
        step_durations[current_step] += duration
        current_step = step
        last_time = time
    
    result = {
        'went_back': went_back,
        'reached_confirm': reached_confirm,
        'total_duration_minutes': total_duration
    }
    
    # Add step durations to result
    for step, duration in step_durations.items():
        result[f'{step}_duration'] = duration
    
    # Add backtrack durations to result
    for step, duration in backtrack_durations.items():
        result[step] = duration
    
    return pd.Series(result)

# Apply the analysis function to each client group
result_control = df_control.groupby('client_id').apply(analyze_client).reset_index()

/var/folders/m0/_0k_jj7j231cxr746m3qlspm0000gn/T/ipykernel_95923/1412424798.py:67: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  result_control = df_control.groupby('client_id').apply(analyze_client).reset_index()

In [70]:
control_all = result_control.rename(columns={0: 'time'})
# test_all = result_test.rename(columns={0: 'time'})

In [162]:
control_all

        client_id                 level_1      time
0             555               went_back     False
1             555         reached_confirm      True
2             555  total_duration_minutes  2.633333
3             555          start_duration  0.116667
4             555         step_1_duration  0.533333
...           ...                     ...       ...
340581    9999729     backtrack_to_step_1  0.083333
340582    9999832               went_back     False
340583    9999832         reached_confirm     False
340584    9999832  total_duration_minutes      None
340585    9999832          start_duration  0.133333

[340586 rows x 3 columns]

In [72]:
control_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 340586 entries, 0 to 340585
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   client_id  340586 non-null  int64
 1   level_1    340586 non-null  object
 2   time       323816 non-null  object
dtypes: int64(1), object(2)
memory usage: 7.8+ MB

In [74]:
# Mean finish time control group in hours
control_total_duration = control_all[control_all['level_1'] == 'total_duration_minutes']
control_mean = control_total_duration['time'].mean()
control_mean_hours = (control_mean / 60).round(2)
control_mean_hours

103.65

In [ ]:
# # Mean finish time test group in hours
# test_total_duration = test_renamed[test_renamed['level_1'] == 'total_duration_minutes']
# test_mean = test_total_duration['time'].mean()
# test_mean_hours = (test_mean / 60).round(2)
# test_mean_hours

In [76]:
# Count clients finished in control group
control_count_finish = control_all[(control_all['level_1'] == 'reached_confirm') & (control_all['time'] == True)].shape[0]
control_count_finish
control_count_notfinish = control_all[(control_all['level_1'] == 'reached_confirm') & (control_all['time'] == False)].shape[0]
control_count_notfinish

percentage_finish = control_count_finish / (control_count_finish + control_count_notfinish)
percentage_finish

0.667920792079208

In [ ]:
# # Count clients finished in test group
# test_count_finish = test[(test['level_1'] == 'reached_confirm') & (test['time'] == True)].shape[0]
# test_count_finish
# test_count_notfinish = test[(test['level_1'] == 'reached_confirm') & (test['time'] == False)].shape[0]
# test_count_notfinish

# percentage_finish = test_count_finish / (test_count_finish + test_count_notfinish)
# percentage_finish

In [ ]:
# count total of errors in both datasets, which dataset had the most errors?
# count of total flawless successes in both datasets, which dataset had the most flawless onboardings?
# count the average time spent on each step in both datasets

# If there were errors, where did these occur? And for how long? Were the errors more prevalent on one dataset?

# On a demographic basis, which group perform the best? Men vs women, age vs age
# Were there

In [78]:
# categories
control_all_went_back = control_all[control_all['level_1'] == 'went_back'] #boolean
control_all_reached_confirm = control_all[control_all['level_1'] == 'reached_confirm'] #boolean
control_all_total_duration_minutes = control_all[control_all['level_1'] == 'total_duration_minutes'] #time
control_all_start_duration = control_all[control_all['level_1'] == 'start_duration'] #time
control_all_step_1_duration = control_all[control_all['level_1'] == 'step_1_duration'] #time
control_all_step_2_duration = control_all[control_all['level_1'] == 'step_2_duration'] #time
control_all_step_3_duration = control_all[control_all['level_1'] == 'step_3_duration'] #time
control_all_total_duration_minutes = control_all[control_all['level_1'] == 'total_duration_minutes'] #time
control_all_backtrack_to_start = control_all[control_all['level_1'] == 'backtrack_to_start'] #time
control_all_backtrack_to_step_1 = control_all[control_all['level_1'] == 'backtrack_to_step_1'] #time
control_all_backtrack_to_step_2 = control_all[control_all['level_1'] == 'backtrack_to_step_2'] #time

In [82]:
#remove outliers

# control_all_total_duration_minutes['time'].min()
# control_start_duration
# control_step_1_duration
# control_step_2_duration
# control_step_3_duration
# control_total_duration_minutes
# control_backtrack_to_start
# control_backtrack_to_step_1
# control_backtrack_to_step_2

In [84]:
# REMOVING OUTLIERS CONTROL_ALL DF

control_all_went_back = control_all_went_back.rename(columns={'time': 'went_back'})
control_all_reached_confirm = control_all_reached_confirm.rename(columns={'time': 'reached_confirm'})

# control all total duration minutes
Q1_td = control_all_total_duration_minutes['time'].quantile(0.25)
Q3_td = control_all_total_duration_minutes['time'].quantile(0.75)
IQR_td = Q3_td - Q1_td
lower_bound_td = Q1_td - 1.5 * IQR_td
upper_bound_td = Q3_td + 1.5 * IQR_td
#filtered df
control_all_TD = control_all_total_duration_minutes[(control_all_total_duration_minutes['time'] >= lower_bound_td) & (control_all_total_duration_minutes['time'] <= upper_bound_td)]
control_all_TD = control_all_TD.rename(columns={'time': 'TD'})


# control_all_start_duration
Q1_sd = control_all_start_duration['time'].quantile(0.25)
Q3_sd = control_all_start_duration['time'].quantile(0.75)
IQR_sd = Q3_sd - Q1_sd
lower_bound_sd = Q1_sd - 1.5 * IQR_sd
upper_bound_sd = Q3_sd + 1.5 * IQR_sd
#filtered df
control_all_SD = control_all_start_duration[(control_all_start_duration['time'] >= lower_bound_sd) & (control_all_start_duration['time'] <= upper_bound_sd)]
control_all_SD = control_all_SD.rename(columns={'time': 'SD'})

# control_step_1_duration
Q1_s1 = control_all_step_1_duration['time'].quantile(0.25)
Q3_s1 = control_all_step_1_duration['time'].quantile(0.75)
IQR_s1 = Q3_s1 - Q1_s1
lower_bound_s1 = Q1_s1 - 1.5 * IQR_s1
upper_bound_s1 = Q3_s1 + 1.5 * IQR_s1
#filtered df
control_all_S1 = control_all_step_1_duration[(control_all_step_1_duration['time'] >= lower_bound_s1) & (control_all_step_1_duration['time'] <= upper_bound_s1)]
control_all_S1 = control_all_S1.rename(columns={'time': 'S1'})

# control_step_2_duration
Q1_s2 = control_all_step_2_duration['time'].quantile(0.25)
Q3_s2 = control_all_step_2_duration['time'].quantile(0.75)
IQR_s2 = Q3_s2 - Q1_s2
lower_bound_s2 = Q1_s2 - 1.5 * IQR_s2
upper_bound_s2 = Q3_s2 + 1.5 * IQR_s2
#filtered df
control_all_S2 = control_all_step_2_duration[(control_all_step_2_duration['time'] >= lower_bound_s2) & (control_all_step_2_duration['time'] <= upper_bound_s2)]
control_all_S2 = control_all_S2.rename(columns={'time': 'S2'})

# control_step_3_duration
Q1_s3 = control_all_step_3_duration['time'].quantile(0.25)
Q3_s3 = control_all_step_3_duration['time'].quantile(0.75)
IQR_s3 = Q3_s3 - Q1_s3
lower_bound_s3 = Q1_s3 - 1.5 * IQR_s3
upper_bound_s3 = Q3_s3 + 1.5 * IQR_s3
#filtered df
control_all_S3 = control_all_step_3_duration[(control_all_step_3_duration['time'] >= lower_bound_s3) & (control_all_step_3_duration['time'] <= upper_bound_s3)]
control_all_S3 = control_all_S3.rename(columns={'time': 'S3'})

# control_backtrack_to_start (NO DATA)
Q1_bs = control_all_backtrack_to_start['time'].quantile(0.25)
Q3_bs = control_all_backtrack_to_start['time'].quantile(0.75)
IQR_bs = Q3_bs - Q1_bs
lower_bound_bs = Q1_bs - 1.5 * IQR_bs
upper_bound_bs = Q3_bs + 1.5 * IQR_bs
#filtered df
control_all_BS = control_all_backtrack_to_start[(control_all_backtrack_to_start['time'] >= lower_bound_bs) & (control_all_backtrack_to_start['time'] <= upper_bound_bs)]
control_all_BS = control_all_BS.rename(columns={'time': 'BS'})

# control_backtrack_to_step_1
Q1_bs1 = control_all_backtrack_to_step_1['time'].quantile(0.25)
Q3_bs1 = control_all_backtrack_to_step_1['time'].quantile(0.75)
IQR_bs1 = Q3_bs1 - Q1_bs1
lower_bound_bs1 = Q1_bs1 - 1.5 * IQR_bs1
upper_bound_bs1 = Q3_bs1 + 1.5 * IQR_bs1
#filtered df
control_all_BS1 = control_all_backtrack_to_step_1[(control_all_backtrack_to_step_1['time'] >= lower_bound_bs1) & (control_all_backtrack_to_step_1['time'] <= upper_bound_bs1)]
control_all_BS1 = control_all_BS1.rename(columns={'time': 'BS1'})

# control_all_backtrack_to_step_2
Q1_bs2 = control_all_backtrack_to_step_2['time'].quantile(0.25)
Q3_bs2 = control_all_backtrack_to_step_2['time'].quantile(0.75)
IQR_bs2 = Q3_bs2 - Q1_bs2
lower_bound_bs2 = Q1_bs2 - 1.5 * IQR_bs2
upper_bound_bs2 = Q3_bs2 + 1.5 * IQR_bs2
#filtered df
control_all_BS2 = control_all_backtrack_to_step_2[(control_all_backtrack_to_step_2['time'] >= lower_bound_bs2) & (control_all_backtrack_to_step_2['time'] <= upper_bound_bs2)]
control_all_BS2 = control_all_BS2.rename(columns={'time': 'BS2'})
control_all_BS2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5598 entries, 26 to 340526
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   client_id  5598 non-null   int64
 1   level_1    5598 non-null   object
 2   BS2        5598 non-null   object
dtypes: int64(1), object(2)
memory usage: 174.9+ KB

In [86]:
# concatenating via outer join
concatenated_df_all_filtered = pd.concat([control_all_reached_confirm, control_all_went_back, control_all_TD, control_all_SD, control_all_S1, control_all_S2, control_all_S3, control_all_BS, control_all_BS1, control_all_BS2], axis=0, join='outer', ignore_index=True)
concatenated_df_all_filtered

,client_id,level_1,reached_confirm,went_back,TD,SD,S1,S2,S3,BS,BS1,BS2
0,555,reached_confirm,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,647,reached_confirm,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,934,reached_confirm,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1028,reached_confirm,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1104,reached_confirm,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
285712,9995295,backtrack_to_step_2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
285713,9997391,backtrack_to_step_2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.416667
285714,9997470,backtrack_to_step_2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.05
285715,9998156,backtrack_to_step_2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.033333
285716,9998346,backtrack_to_step_2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.266667

In [88]:
sorted_df = concatenated_df_all_filtered.sort_values(by='client_id', ascending=True)
sorted_df.head(30)

,client_id,level_1,reached_confirm,went_back,TD,SD,S1,S2,S3,BS,BS1,BS2
0,555,reached_confirm,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101000,555,total_duration_minutes,NaN,NaN,2.633333,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166198,555,step_1_duration,NaN,NaN,NaN,NaN,0.533333,NaN,NaN,NaN,NaN,NaN
203270,555,step_2_duration,NaN,NaN,NaN,NaN,NaN,1.65,NaN,NaN,NaN,NaN
50500,555,went_back,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239695,555,step_3_duration,NaN,NaN,NaN,NaN,NaN,NaN,0.333333,NaN,NaN,NaN
127305,555,start_duration,NaN,NaN,NaN,0.116667,NaN,NaN,NaN,NaN,NaN,NaN
239696,647,step_3_duration,NaN,NaN,NaN,NaN,NaN,NaN,2.716667,NaN,NaN,NaN
50501,647,went_back,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101001,647,total_duration_minutes,NaN,NaN,6.283333,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,647,reached_confirm,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166199,647,step_1_duration,NaN,NaN,NaN,NaN,0.3,NaN,NaN,NaN,NaN,NaN
127306,647,start_duration,NaN,NaN,NaN,0.116667,NaN,NaN,NaN,NaN,NaN,NaN
203271,647,step_2_duration,NaN,NaN,NaN,NaN,NaN,3.15,NaN,NaN,NaN,NaN
127307,934,start_duration,NaN,NaN,NaN,2.366667,NaN,NaN,NaN,NaN,NaN,NaN
50502,934,went_back,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,934,reached_confirm,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239697,1028,step_3_duration,NaN,NaN,NaN,NaN,NaN,NaN,1.85,NaN,NaN,NaN
50503,1028,went_back,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
271852,1028,backtrack_to_step_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.333333,NaN
280119,1028,backtrack_to_step_2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.033333
127308,1028,start_duration,NaN,NaN,NaN,0.816667,NaN,NaN,NaN,NaN,NaN,NaN
166200,1028,step_1_duration,NaN,NaN,NaN,NaN,1.566667,NaN,NaN,NaN,NaN,NaN
3,1028,reached_confirm,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1104,reached_confirm,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50504,1104,went_back,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50505,1186,went_back,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1186,reached_confirm,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166201,1186,step_1_duration,NaN,NaN,NaN,NaN,0.183333,NaN,NaN,NaN,NaN,NaN
127309,1195,start_duration,NaN,NaN,NaN,0.55,NaN,NaN,NaN,NaN,NaN,NaN

In [90]:
sorted_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 285717 entries, 0 to 100999
Data columns (total 12 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   client_id        285717 non-null  int64
 1   level_1          285717 non-null  object
 2   reached_confirm  50500 non-null   object
 3   went_back        50500 non-null   object
 4   TD               26305 non-null   object
 5   SD               38893 non-null   object
 6   S1               37072 non-null   object
 7   S2               36425 non-null   object
 8   S3               32157 non-null   object
 9   BS               0 non-null       object
 10  BS1              8267 non-null    object
 11  BS2              5598 non-null    object
dtypes: int64(1), object(11)
memory usage: 28.3+ MB

In [92]:
df.head()

,client_id,visitor_id,visit_id,process_step,date_time,Variation,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,clnt_age_rounded,age_category
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,79.0,over 70
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,79.0,over 70
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,79.0,over 70
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,79.0,over 70
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,79.0,over 70

In [94]:
selected_columns_df = df[['client_id', 'Variation', 'clnt_tenure_yr', 'clnt_tenure_mnth', 'clnt_age', 'gendr', 'num_accts', 'bal', 'calls_6_mnth', 'logons_6_mnth', 'clnt_age_rounded', 'age_category']]
selected_columns_df

,client_id,Variation,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,clnt_age_rounded,age_category
0,9988021,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,79.0,over 70
1,9988021,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,79.0,over 70
2,9988021,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,79.0,over 70
3,9988021,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,79.0,over 70
4,9988021,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,79.0,over 70
...,...,...,...,...,...,...,...,...,...,...,...,...
321304,6334360,Test,4.0,53.0,66.5,U,2.0,93103.47,6.0,9.0,66.0,60-70
321305,6334360,Test,4.0,53.0,66.5,U,2.0,93103.47,6.0,9.0,66.0,60-70
321306,6334360,Test,4.0,53.0,66.5,U,2.0,93103.47,6.0,9.0,66.0,60-70
321307,6334360,Test,4.0,53.0,66.5,U,2.0,93103.47,6.0,9.0,66.0,60-70
321308,6334360,Test,4.0,53.0,66.5,U,2.0,93103.47,6.0,9.0,66.0,60-70

In [96]:
combined = pd.merge(sorted_df, selected_columns_df, on='client_id', how='left')

In [ ]:
combined.info()

In [98]:
df_dropped = combined.drop_duplicates()
df_dropped

,client_id,level_1,reached_confirm,went_back,TD,SD,S1,S2,S3,BS,...,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,clnt_age_rounded,age_category
0,555,reached_confirm,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
5,555,total_duration_minutes,NaN,NaN,2.633333,NaN,NaN,NaN,NaN,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
10,555,step_1_duration,NaN,NaN,NaN,NaN,0.533333,NaN,NaN,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
15,555,step_2_duration,NaN,NaN,NaN,NaN,NaN,1.65,NaN,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
20,555,went_back,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1919544,9999729,went_back,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,...,10.0,124.0,31.0,F,3.0,107059.74,6.0,9.0,31.0,30-40
1919555,9999729,reached_confirm,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.0,124.0,31.0,F,3.0,107059.74,6.0,9.0,31.0,30-40
1919566,9999832,reached_confirm,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23.0,281.0,49.0,F,2.0,431887.61,1.0,4.0,49.0,40-50
1919568,9999832,start_duration,NaN,NaN,NaN,0.133333,NaN,NaN,NaN,NaN,...,23.0,281.0,49.0,F,2.0,431887.61,1.0,4.0,49.0,40-50
1919570,9999832,went_back,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,...,23.0,281.0,49.0,F,2.0,431887.61,1.0,4.0,49.0,40-50

In [100]:
df_dropped.columns

Index(['client_id', 'level_1', 'reached_confirm', 'went_back', 'TD', 'SD',
       'S1', 'S2', 'S3', 'BS', 'BS1', 'BS2', 'Variation', 'clnt_tenure_yr',
       'clnt_tenure_mnth', 'clnt_age', 'gendr', 'num_accts', 'bal',
       'calls_6_mnth', 'logons_6_mnth', 'clnt_age_rounded', 'age_category'],
      dtype='object')

In [358]:
# Test if mean compution works
df_dropped['TD'].mean()

6.251266552619873

In [360]:
df_reset_drop = df_dropped.reset_index(drop=True)
df_reset_drop

,client_id,level_1,reached_confirm,went_back,TD,SD,S1,S2,S3,BS,...,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,clnt_age_rounded,age_category
0,555,reached_confirm,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
1,555,total_duration_minutes,NaN,NaN,2.633333,NaN,NaN,NaN,NaN,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
2,555,step_1_duration,NaN,NaN,NaN,NaN,0.533333,NaN,NaN,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
3,555,step_2_duration,NaN,NaN,NaN,NaN,NaN,1.65,NaN,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
4,555,went_back,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285712,9999729,went_back,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,...,10.0,124.0,31.0,F,3.0,107059.74,6.0,9.0,31.0,30-40
285713,9999729,reached_confirm,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.0,124.0,31.0,F,3.0,107059.74,6.0,9.0,31.0,30-40
285714,9999832,reached_confirm,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23.0,281.0,49.0,F,2.0,431887.61,1.0,4.0,49.0,40-50
285715,9999832,start_duration,NaN,NaN,NaN,0.133333,NaN,NaN,NaN,NaN,...,23.0,281.0,49.0,F,2.0,431887.61,1.0,4.0,49.0,40-50
285716,9999832,went_back,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,...,23.0,281.0,49.0,F,2.0,431887.61,1.0,4.0,49.0,40-50

In [106]:
df_reset_drop.to_csv('dataset_TVC_MS.csv', index=True)

In [334]:
df_reset_drop['gendr'].value_counts()

gendr
U    99490
M    95637
F    90510
X        6
Name: count, dtype: int64

In [362]:
df_reset_drop.groupby(['Variation'])['TD'].mean()

Variation
Control    6.367989
Test       6.147209
Name: TD, dtype: object

In [372]:
test_mean = df_reset_drop[df_reset_drop['Variation'] == 'Test']['TD'].mean()
control_mean = df_reset_drop[df_reset_drop['Variation'] == 'Control']['TD'].mean()
relative_difference = (test_mean / control_mean) - 1
relative_difference

-0.03467038102943343

In [370]:
df_reset_drop.groupby(['Variation'])['TD'].mean()

Variation
Control    6.367989
Test       6.147209
Name: TD, dtype: object

In [308]:
df_reset_drop.groupby('Variation')['client_id'].nunique()

Variation
Control    23532
Test       26968
Name: client_id, dtype: int64

In [310]:
df_reset_drop['Variation'].value_counts()

Variation
Test       153892
Control    131825
Name: count, dtype: int64

## ANALYSIS ON NUMBER OF CALLS ##

In [382]:
#add call range column
bins = [0, 0.5, 2.5, 4.5, np.inf]
labels = ['0 calls', '1-2 calls', '3-4 calls', 'above 4 calls']

df_reset_drop['call_range'] = pd.cut(df_reset_drop['calls_6_mnth'], bins=bins, labels=labels, right=False)

In [384]:
df_reset_drop

,client_id,level_1,reached_confirm,went_back,TD,SD,S1,S2,S3,BS,...,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,clnt_age_rounded,age_category,call_range
0,555,reached_confirm,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30,1-2 calls
1,555,total_duration_minutes,NaN,NaN,2.633333,NaN,NaN,NaN,NaN,NaN,...,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30,1-2 calls
2,555,step_1_duration,NaN,NaN,NaN,NaN,0.533333,NaN,NaN,NaN,...,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30,1-2 calls
3,555,step_2_duration,NaN,NaN,NaN,NaN,NaN,1.65,NaN,NaN,...,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30,1-2 calls
4,555,went_back,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,...,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30,1-2 calls
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285712,9999729,went_back,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,...,124.0,31.0,F,3.0,107059.74,6.0,9.0,31.0,30-40,above 4 calls
285713,9999729,reached_confirm,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,124.0,31.0,F,3.0,107059.74,6.0,9.0,31.0,30-40,above 4 calls
285714,9999832,reached_confirm,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,281.0,49.0,F,2.0,431887.61,1.0,4.0,49.0,40-50,1-2 calls
285715,9999832,start_duration,NaN,NaN,NaN,0.133333,NaN,NaN,NaN,NaN,...,281.0,49.0,F,2.0,431887.61,1.0,4.0,49.0,40-50,1-2 calls
285716,9999832,went_back,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,...,281.0,49.0,F,2.0,431887.61,1.0,4.0,49.0,40-50,1-2 calls

In [386]:
df_reset_drop.groupby(['Variation'])['TD'].mean()

Variation
Control    6.367989
Test       6.147209
Name: TD, dtype: object

In [430]:
#analysis completion rate by phone call
total_clients_by_range = df_reset_drop.groupby(['Variation', 'call_range'])['client_id'].count().reset_index()
total_clients_by_range = total_clients_by_range.rename(columns={'client_id': 'total_clients'})

# Number of completed clients by 'Variation' and 'call_range' (excluding NaN in TD)
completed_clients_df = df_reset_drop.dropna(subset=['TD'])
completed_clients_by_range = completed_clients_df.groupby(['Variation', 'call_range'])['client_id'].count().reset_index()
completed_clients_by_range = completed_clients_by_range.rename(columns={'client_id': 'completed_clients'})

# Merge the total clients and completed clients DataFrames
merged_df = pd.merge(total_clients_by_range, completed_clients_by_range, on=['Variation', 'call_range'], how='left')

# Fill NaN values with 0 (in case some ranges have no completed clients)
merged_df['completed_clients'] = merged_df['completed_clients'].fillna(0)

# Calculate the completion rate
merged_df['completion_rate'] = merged_df['completed_clients'] / merged_df['total_clients']

print("Completion Rate by Group and Call Range:")
print(merged_df)

# Pivot the table to have 'Control' and 'Test' as columns
pivot_table = merged_df.pivot(index='call_range', columns='Variation', values='completed_clients').fillna(0)

# Reset the index to make 'call_range' a column again
pivot_table = pivot_table.reset_index()

print("\nPivot Table of Completion Rates:")

pivot_table

Completion Rate by Group and Call Range:
  Variation     call_range  total_clients  completed_clients  completion_rate
0   Control        0 calls          19419               1934         0.099593
1   Control      1-2 calls          39699               3874         0.097584
2   Control      3-4 calls          27879               2619         0.093942
3   Control  above 4 calls          44791               3967         0.088567
4      Test        0 calls          24134               2285         0.094680
5      Test      1-2 calls          46587               4450         0.095520
6      Test      3-4 calls          32884               2985         0.090774
7      Test  above 4 calls          50250               4185         0.083284

Pivot Table of Completion Rates:

/var/folders/m0/_0k_jj7j231cxr746m3qlspm0000gn/T/ipykernel_95923/3565055830.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  total_clients_by_range = df_reset_drop.groupby(['Variation', 'call_range'])['client_id'].count().reset_index()
/var/folders/m0/_0k_jj7j231cxr746m3qlspm0000gn/T/ipykernel_95923/3565055830.py:7: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  completed_clients_by_range = completed_clients_df.groupby(['Variation', 'call_range'])['client_id'].count().reset_index()

Variation     call_range  Control  Test
0                0 calls     1934  2285
1              1-2 calls     3874  4450
2              3-4 calls     2619  2985
3          above 4 calls     3967  4185

### COMPLETION COUNT AND RATE BY CALL RANGE ###

In [416]:
# Total number of unique clients by 'Variation' and 'call_range'
total_clients_by_range = df_reset_drop.groupby(['Variation', 'call_range'])['client_id'].nunique().reset_index()
total_clients_by_range = total_clients_by_range.rename(columns={'client_id': 'total_unique_clients'})

# Number of unique completed clients by 'Variation' and 'call_range' (excluding NaN in TD)
completed_clients_df = df_reset_drop.dropna(subset=['TD'])
completed_clients_by_range = completed_clients_df.groupby(['Variation', 'call_range'])['client_id'].nunique().reset_index()
completed_clients_by_range = completed_clients_by_range.rename(columns={'client_id': 'completed_unique_clients'})

# Merge the total clients and completed clients DataFrames
merged_df = pd.merge(total_clients_by_range, completed_clients_by_range, on=['Variation', 'call_range'], how='left')

# Fill NaN values with 0 (in case some ranges have no completed clients)
merged_df['completed_unique_clients'] = merged_df['completed_unique_clients'].fillna(0)

# Calculate the completion rate
merged_df['completion_rate'] = merged_df['completed_unique_clients'] / merged_df['total_unique_clients']

print("Completion Rate by Group and Call Range:")
print(merged_df)

# Pivot the table to have 'Control' and 'Test' as columns for total unique clients
pivot_total_clients = merged_df.pivot(index='call_range', columns='Variation', values='total_unique_clients').fillna(0)

# Pivot the table to have 'Control' and 'Test' as columns for completed unique clients
pivot_completed_clients = merged_df.pivot(index='call_range', columns='Variation', values='completed_unique_clients').fillna(0)

# Pivot the table to have 'Control' and 'Test' as columns for completion rates
pivot_completion_rate = merged_df.pivot(index='call_range', columns='Variation', values='completion_rate').fillna(0)

# Resetting index for better readability (this makes call_range a regular column again)
pivot_total_clients = pivot_total_clients.reset_index()
pivot_completed_clients = pivot_completed_clients.reset_index()
pivot_completion_rate = pivot_completion_rate.reset_index()

pivot_completion_rate

Completion Rate by Group and Call Range:
  Variation     call_range  total_unique_clients  completed_unique_clients  \
0   Control        0 calls                  3491                      1934
1   Control      1-2 calls                  7044                      3874
2   Control      3-4 calls                  4946                      2619
3   Control  above 4 calls                  8046                      3967
4      Test        0 calls                  4241                      2285
5      Test      1-2 calls                  8079                      4450
6      Test      3-4 calls                  5755                      2985
7      Test  above 4 calls                  8886                      4185

   completion_rate
0         0.553996
1         0.549972
2         0.529519
3         0.493040
4         0.538788
5         0.550811
6         0.518679
7         0.470966

/var/folders/m0/_0k_jj7j231cxr746m3qlspm0000gn/T/ipykernel_95923/2783978502.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  total_clients_by_range = df_reset_drop.groupby(['Variation', 'call_range'])['client_id'].nunique().reset_index()
/var/folders/m0/_0k_jj7j231cxr746m3qlspm0000gn/T/ipykernel_95923/2783978502.py:7: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  completed_clients_by_range = completed_clients_df.groupby(['Variation', 'call_range'])['client_id'].nunique().reset_index()

Variation     call_range   Control      Test
0                0 calls  0.553996  0.538788
1              1-2 calls  0.549972  0.550811
2              3-4 calls  0.529519  0.518679
3          above 4 calls  0.493040  0.470966

In [468]:
pivot_completion_rate['Var Test vs Control'] = (pivot_completion_rate['Test'] / pivot_completion_rate['Control']) - 1
pivot_completion_rate['Var Test vs Control (%)'] = pivot_completion_rate['Var Test vs Control'].apply(lambda x: "{:.2%}".format(x))
print("\nPivot Table of Average Completion with Variation:")
pivot_completion_rate

Pivot Table of Average Completion with Variation:

Variation,call_range,Control,Test,Var Test vs Control,Var Test vs Control (%)
0,0 calls,0.553996,0.538788,-0.027451,-2.75%
1,1-2 calls,0.549972,0.550811,0.001526,0.15%
2,3-4 calls,0.529519,0.518679,-0.020470,-2.05%
3,above 4 calls,0.493040,0.470966,-0.044772,-4.48%

### COMPLETION TIME BY CALL RANGE ###

In [476]:
# Ensure 'calls_6_mnth' and 'TD' are numeric
df_reset_drop['TD'] = pd.to_numeric(df_reset_drop['TD'], errors='coerce')
df_reset_drop['calls_6_mnth'] = pd.to_numeric(df_reset_drop['calls_6_mnth'], errors='coerce')


# Filter out rows where TD is NaN
completed_clients_df = df_reset_drop.dropna(subset=['TD'])

# Group by 'Variation' and 'call_range', then calculate aggregate statistics on 'TD'
td_stats_by_range = completed_clients_df.groupby(['Variation', 'call_range']).agg(
    completed_clients_count=('client_id', 'nunique'),
    total_completion_time=('TD', 'sum'),
    avg_completion_time=('TD', 'mean'),
    median_completion_time=('TD', 'median'),
    min_completion_time=('TD', 'min'),
    max_completion_time=('TD', 'max')
).reset_index()

print("TD Statistics by Group and Call Range:")
print(td_stats_by_range)

# Pivot the table to have 'Control' and 'Test' as columns for average completion time
pivot_avg_completion_time = td_stats_by_range.pivot(index='call_range', columns='Variation', values='avg_completion_time').fillna(0)

# Pivot the table to have 'Control' and 'Test' as columns for median completion time
pivot_median_completion_time = td_stats_by_range.pivot(index='call_range', columns='Variation', values='median_completion_time').fillna(0)

# Pivot the table to have 'Control' and 'Test' as columns for total completion time
pivot_total_completion_time = td_stats_by_range.pivot(index='call_range', columns='Variation', values='total_completion_time').fillna(0)

# Resetting index for better readability (this makes call_range a regular column again)
pivot_avg_completion_time = pivot_avg_completion_time.reset_index()
pivot_median_completion_time = pivot_median_completion_time.reset_index()
pivot_total_completion_time = pivot_total_completion_time.reset_index()

print("\nPivot Table of Average Completion Time by call range:")
pivot_avg_completion_time

TD Statistics by Group and Call Range:
  Variation     call_range  completed_clients_count  total_completion_time  \
0   Control        0 calls                     1934           13225.983333
1   Control      1-2 calls                     3874           24728.116667
2   Control      3-4 calls                     2619           16769.150000
3   Control  above 4 calls                     3967           24200.816667
4      Test        0 calls                     2285           14733.816667
5      Test      1-2 calls                     4450           27453.150000
6      Test      3-4 calls                     2985           18822.383333
7      Test  above 4 calls                     4185           24466.200000

   avg_completion_time  median_completion_time  min_completion_time  \
0             6.838668                4.883333             0.783333
1             6.383097                4.650000             0.700000
2             6.402883                4.616667           -12.583333
3             6.100534                4.250000            -9.316667
4             6.448060                4.200000             0.533333
5             6.169247                4.166667            -2.083333
6             6.305656                4.250000             0.733333
7             5.846165                3.866667            -2.866667

   max_completion_time
0            45.183333
1            44.900000
2            45.133333
3            44.950000
4            44.650000
5            45.433333
6            44.983333
7            44.166667

Pivot Table of Average Completion Time by call range:

/var/folders/m0/_0k_jj7j231cxr746m3qlspm0000gn/T/ipykernel_95923/3595725160.py:10: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  td_stats_by_range = completed_clients_df.groupby(['Variation', 'call_range']).agg(

Variation     call_range   Control      Test
0                0 calls  6.838668  6.448060
1              1-2 calls  6.383097  6.169247
2              3-4 calls  6.402883  6.305656
3          above 4 calls  6.100534  5.846165

In [474]:
print("\nPivot Table of Median Completion Time by call range:")
pivot_median_completion_time

Pivot Table of Median Completion Time by call range:

Variation     call_range   Control      Test
0                0 calls  4.883333  4.200000
1              1-2 calls  4.650000  4.166667
2              3-4 calls  4.616667  4.250000
3          above 4 calls  4.250000  3.866667

In [466]:
pivot_avg_completion_time['Var Test vs Control'] = (pivot_avg_completion_time['Test'] / pivot_avg_completion_time['Control']) - 1
pivot_avg_completion_time['Var Test vs Control (%)'] = pivot_avg_completion_time['Var Test vs Control'].apply(lambda x: "{:.2%}".format(x))
print("\nPivot Table of Average Completion Time with Variation by call range:")
pivot_avg_completion_time

Pivot Table of Average Completion Time with Variation:

Variation,call_range,Control,Test,Var Test vs Control,Var Test vs Control (%)
0,0 calls,6.838668,6.448060,-0.057118,-5.71%
1,1-2 calls,6.383097,6.169247,-0.033502,-3.35%
2,3-4 calls,6.402883,6.305656,-0.015185,-1.52%
3,above 4 calls,6.100534,5.846165,-0.041696,-4.17%