In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [4]:
df1 = pd.read_csv("/Users/maurits/Documents/Ironhack/week_05/gpw5+6/vanguard-ab-test/data/raw/df_web_comb.csv")
df2 = pd.read_csv("/Users/maurits/Documents/Ironhack/week_05/gpw5+6/vanguard-ab-test/data/raw/demo-experiment_dataset_combined.csv")
df3 = pd.read_csv("/Users/maurits/Documents/Ironhack/week_05/gpw5+6/vanguard-ab-test/data/raw/df2_client.csv")

/var/folders/3v/mdv6bm7j6n99zg9hqgt9n70r0000gn/T/ipykernel_22632/2018198696.py:2: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv("/Users/maurits/Documents/Ironhack/week_05/gpw5+6/vanguard-ab-test/data/raw/demo-experiment_dataset_combined.csv")
/var/folders/3v/mdv6bm7j6n99zg9hqgt9n70r0000gn/T/ipykernel_22632/2018198696.py:3: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df3 = pd.read_csv("/Users/maurits/Documents/Ironhack/week_05/gpw5+6/vanguard-ab-test/data/raw/df2_client.csv")

In [6]:
df3['client_id']

0        9988021
1        8320017
2        4033851
3        1982004
4        9294070
          ...
70604    2443347
70605    8788427
70606     266828
70607    1266421
70608    9895983
Name: client_id, Length: 70609, dtype: int64

In [8]:
web_client = pd.merge(df1, df3, on='client_id', how='right')

In [10]:
df_sorted = web_client.sort_values(['client_id','date_time'])
df_sorted.head(30)
# df_sorted.to_csv('combined_20240904_nonpivot.csv')

,client_id,visitor_id,visit_id,process_step,date_time,Variation,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,clnt_age_rounded,age_category
374121,169,201385055_71273495308,749567106_99161211863_557568,start,2017-04-12 20:19:36,NaN,21.0,262.0,47.5,M,2.0,501570.72,4.0,4.0,48.0,40-50
374120,169,201385055_71273495308,749567106_99161211863_557568,step_1,2017-04-12 20:19:45,NaN,21.0,262.0,47.5,M,2.0,501570.72,4.0,4.0,48.0,40-50
374119,169,201385055_71273495308,749567106_99161211863_557568,step_2,2017-04-12 20:20:31,NaN,21.0,262.0,47.5,M,2.0,501570.72,4.0,4.0,48.0,40-50
374118,169,201385055_71273495308,749567106_99161211863_557568,step_3,2017-04-12 20:22:05,NaN,21.0,262.0,47.5,M,2.0,501570.72,4.0,4.0,48.0,40-50
374117,169,201385055_71273495308,749567106_99161211863_557568,confirm,2017-04-12 20:23:09,NaN,21.0,262.0,47.5,M,2.0,501570.72,4.0,4.0,48.0,40-50
94261,555,402506806_56087378777,637149525_38041617439_716659,start,2017-04-15 12:57:56,Test,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
94260,555,402506806_56087378777,637149525_38041617439_716659,step_1,2017-04-15 12:58:03,Test,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
94259,555,402506806_56087378777,637149525_38041617439_716659,step_2,2017-04-15 12:58:35,Test,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
94258,555,402506806_56087378777,637149525_38041617439_716659,step_3,2017-04-15 13:00:14,Test,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
94257,555,402506806_56087378777,637149525_38041617439_716659,confirm,2017-04-15 13:00:34,Test,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
180548,647,66758770_53988066587,40369564_40101682850_311847,start,2017-04-12 15:41:28,Test,12.0,151.0,57.5,M,2.0,30525.80,0.0,4.0,58.0,50-60
180547,647,66758770_53988066587,40369564_40101682850_311847,step_1,2017-04-12 15:41:35,Test,12.0,151.0,57.5,M,2.0,30525.80,0.0,4.0,58.0,50-60
180546,647,66758770_53988066587,40369564_40101682850_311847,step_2,2017-04-12 15:41:53,Test,12.0,151.0,57.5,M,2.0,30525.80,0.0,4.0,58.0,50-60
180545,647,66758770_53988066587,40369564_40101682850_311847,step_3,2017-04-12 15:45:02,Test,12.0,151.0,57.5,M,2.0,30525.80,0.0,4.0,58.0,50-60
180544,647,66758770_53988066587,40369564_40101682850_311847,confirm,2017-04-12 15:47:45,Test,12.0,151.0,57.5,M,2.0,30525.80,0.0,4.0,58.0,50-60
321616,722,919259913_64837298108,984487154_55831795985_521110,start,2017-04-19 14:50:10,NaN,11.0,143.0,59.5,F,2.0,22466.17,1.0,1.0,60.0,50-60
321615,722,919259913_64837298108,984487154_55831795985_521110,step_1,2017-04-19 14:50:20,NaN,11.0,143.0,59.5,F,2.0,22466.17,1.0,1.0,60.0,50-60
321614,722,919259913_64837298108,984487154_55831795985_521110,step_2,2017-04-19 14:50:56,NaN,11.0,143.0,59.5,F,2.0,22466.17,1.0,1.0,60.0,50-60
321613,722,919259913_64837298108,984487154_55831795985_521110,step_1,2017-04-19 14:51:12,NaN,11.0,143.0,59.5,F,2.0,22466.17,1.0,1.0,60.0,50-60
321612,722,919259913_64837298108,984487154_55831795985_521110,start,2017-04-19 14:56:16,NaN,11.0,143.0,59.5,F,2.0,22466.17,1.0,1.0,60.0,50-60
321611,722,919259913_64837298108,984487154_55831795985_521110,step_1,2017-04-19 14:56:18,NaN,11.0,143.0,59.5,F,2.0,22466.17,1.0,1.0,60.0,50-60
321610,722,919259913_64837298108,984487154_55831795985_521110,step_2,2017-04-19 14:56:37,NaN,11.0,143.0,59.5,F,2.0,22466.17,1.0,1.0,60.0,50-60
321609,722,919259913_64837298108,984487154_55831795985_521110,step_3,2017-04-19 14:57:27,NaN,11.0,143.0,59.5,F,2.0,22466.17,1.0,1.0,60.0,50-60
321608,722,919259913_64837298108,984487154_55831795985_521110,confirm,2017-04-19 15:00:09,NaN,11.0,143.0,59.5,F,2.0,22466.17,1.0,1.0,60.0,50-60
81938,934,810392784_45004760546,7076463_57954418406_971348,start,2017-04-18 02:36:30,Test,9.0,109.0,51.0,F,2.0,32522.88,0.0,3.0,51.0,50-60
81937,934,810392784_45004760546,7076463_57954418406_971348,start,2017-04-18 02:37:02,Test,9.0,109.0,51.0,F,2.0,32522.88,0.0,3.0,51.0,50-60
81936,934,810392784_45004760546,7076463_57954418406_971348,start,2017-04-18 02:38:24,Test,9.0,109.0,51.0,F,2.0,32522.88,0.0,3.0,51.0,50-60
81935,934,810392784_45004760546,7076463_57954418406_971348,start,2017-04-18 02:38:52,Test,9.0,109.0,51.0,F,2.0,32522.88,0.0,3.0,51.0,50-60
173012,1028,42237450_62128060588,557292053_87239438319_391157,start,2017-04-08 18:51:28,Control,12.0,145.0,36.0,M,3.0,103520.22,1.0,4.0,36.0,30-40
173011,1028,42237450_62128060588,557292053_87239438319_391157,step_1,2017-04-08 18:52:17,Control,12.0,145.0,36.0,M,3.0,103520.22,1.0,4.0,36.0,30-40

In [12]:
df_dropped_multiple = df_sorted.dropna(subset=['Variation'])

# df_dropped_multiple.to_csv('combined_20240904_nonpivot_excl-NaN.csv')

In [14]:
df1 = df_dropped_multiple

In [16]:
# filtering on Start and renaming the time column of date_time to start. Dropping the process_time colum. This dataset will later be concatinated with all other steps.
df_process_step_start = df1[df1['process_step'] == 'start'].reset_index(drop=True)
df_renamed = df_process_step_start.rename(columns={'date_time': 'start'})
df_dropped = df_renamed.drop(columns=['process_step'])
df_start = df_dropped
df_start

,client_id,visitor_id,visit_id,start,Variation,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,clnt_age_rounded,age_category
0,555,402506806_56087378777,637149525_38041617439_716659,2017-04-15 12:57:56,Test,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
1,647,66758770_53988066587,40369564_40101682850_311847,2017-04-12 15:41:28,Test,12.0,151.0,57.5,M,2.0,30525.80,0.0,4.0,58.0,50-60
2,934,810392784_45004760546,7076463_57954418406_971348,2017-04-18 02:36:30,Test,9.0,109.0,51.0,F,2.0,32522.88,0.0,3.0,51.0,50-60
3,934,810392784_45004760546,7076463_57954418406_971348,2017-04-18 02:37:02,Test,9.0,109.0,51.0,F,2.0,32522.88,0.0,3.0,51.0,50-60
4,934,810392784_45004760546,7076463_57954418406_971348,2017-04-18 02:38:24,Test,9.0,109.0,51.0,F,2.0,32522.88,0.0,3.0,51.0,50-60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104077,9999729,604429154_69247391147,99583652_41711450505_426179,2017-04-05 13:40:49,Test,10.0,124.0,31.0,F,3.0,107059.74,6.0,9.0,31.0,30-40
104078,9999729,843385170_36953471821,493310979_9209676464_421146,2017-04-20 14:21:27,Test,10.0,124.0,31.0,F,3.0,107059.74,6.0,9.0,31.0,30-40
104079,9999729,843385170_36953471821,493310979_9209676464_421146,2017-04-20 14:28:57,Test,10.0,124.0,31.0,F,3.0,107059.74,6.0,9.0,31.0,30-40
104080,9999729,834634258_21862004160,870243567_56915814033_814203,2017-05-08 16:08:25,Test,10.0,124.0,31.0,F,3.0,107059.74,6.0,9.0,31.0,30-40
104081,9999832,145538019_54444341400,472154369_16714624241_585315,2017-05-16 16:46:03,Test,23.0,281.0,49.0,F,2.0,431887.61,1.0,4.0,49.0,40-50

In [20]:
# step 1 process
df_process_step_step1 = df1[df1['process_step'] == 'step_1'].reset_index(drop=True)
df_renamed = df_process_step_step1.rename(columns={'date_time': 'step_1'})
df_dropped = df_renamed.drop(columns=['process_step', 'visit_id', 'visitor_id'])
df_step1 = df_dropped
df_step1

,client_id,step_1,Variation,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,clnt_age_rounded,age_category
0,555,2017-04-15 12:58:03,Test,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
1,647,2017-04-12 15:41:35,Test,12.0,151.0,57.5,M,2.0,30525.80,0.0,4.0,58.0,50-60
2,1028,2017-04-08 18:52:17,Control,12.0,145.0,36.0,M,3.0,103520.22,1.0,4.0,36.0,30-40
3,1028,2017-04-08 18:53:20,Control,12.0,145.0,36.0,M,3.0,103520.22,1.0,4.0,36.0,30-40
4,1028,2017-04-08 18:59:55,Control,12.0,145.0,36.0,M,3.0,103520.22,1.0,4.0,36.0,30-40
...,...,...,...,...,...,...,...,...,...,...,...,...,...
68431,9999626,2017-05-14 09:07:59,Test,9.0,113.0,35.0,M,2.0,36642.88,6.0,9.0,35.0,30-40
68432,9999729,2017-04-05 13:41:04,Test,10.0,124.0,31.0,F,3.0,107059.74,6.0,9.0,31.0,30-40
68433,9999729,2017-04-20 14:22:49,Test,10.0,124.0,31.0,F,3.0,107059.74,6.0,9.0,31.0,30-40
68434,9999729,2017-05-08 16:08:30,Test,10.0,124.0,31.0,F,3.0,107059.74,6.0,9.0,31.0,30-40
68435,9999832,2017-05-16 16:46:11,Test,23.0,281.0,49.0,F,2.0,431887.61,1.0,4.0,49.0,40-50

In [22]:
# step 2 process
df_process_step_step2 = df1[df1['process_step'] == 'step_2'].reset_index(drop=True)
df_renamed = df_process_step_step2.rename(columns={'date_time': 'step_2'})
df_dropped = df_renamed.drop(columns=['process_step', 'visit_id', 'visitor_id'])
df_step2 = df_dropped
df_step2

,client_id,step_2,Variation,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,clnt_age_rounded,age_category
0,555,2017-04-15 12:58:35,Test,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
1,647,2017-04-12 15:41:53,Test,12.0,151.0,57.5,M,2.0,30525.80,0.0,4.0,58.0,50-60
2,1028,2017-04-08 18:53:29,Control,12.0,145.0,36.0,M,3.0,103520.22,1.0,4.0,36.0,30-40
3,1028,2017-04-08 19:00:17,Control,12.0,145.0,36.0,M,3.0,103520.22,1.0,4.0,36.0,30-40
4,1186,2017-04-08 18:05:24,Control,8.0,99.0,22.0,U,2.0,31662.52,0.0,3.0,22.0,20-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...
56870,9998964,2017-04-05 23:47:01,Test,5.0,71.0,45.5,U,3.0,91766.49,6.0,9.0,46.0,40-50
56871,9999009,2017-03-31 07:18:19,Test,18.0,216.0,68.5,M,3.0,2055381.29,6.0,9.0,68.0,60-70
56872,9999400,2017-04-20 05:22:17,Test,7.0,86.0,28.5,U,2.0,51787.04,0.0,3.0,28.0,20-30
56873,9999729,2017-04-20 14:27:36,Test,10.0,124.0,31.0,F,3.0,107059.74,6.0,9.0,31.0,30-40
56874,9999729,2017-05-08 16:08:40,Test,10.0,124.0,31.0,F,3.0,107059.74,6.0,9.0,31.0,30-40

In [24]:
# step 3 process
df_process_step_step3 = df1[df1['process_step'] == 'step_3'].reset_index(drop=True)
df_renamed = df_process_step_step3.rename(columns={'date_time': 'step_3'})
df_dropped = df_renamed.drop(columns=['process_step', 'visit_id', 'visitor_id'])
df_step3 = df_dropped
df_step3

,client_id,step_3,Variation,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,clnt_age_rounded,age_category
0,555,2017-04-15 13:00:14,Test,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
1,647,2017-04-12 15:45:02,Test,12.0,151.0,57.5,M,2.0,30525.80,0.0,4.0,58.0,50-60
2,1028,2017-04-08 18:58:04,Control,12.0,145.0,36.0,M,3.0,103520.22,1.0,4.0,36.0,30-40
3,1195,2017-04-05 20:18:08,Control,21.0,262.0,54.5,M,2.0,28457.96,2.0,5.0,54.0,50-60
4,1197,2017-04-01 17:17:25,Control,7.0,85.0,28.5,U,5.0,177062.14,5.0,8.0,28.0,20-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...
48684,9998851,2017-04-05 12:08:12,Test,4.0,58.0,23.5,U,2.0,38473.54,3.0,6.0,24.0,20-30
48685,9998964,2017-04-05 23:48:48,Test,5.0,71.0,45.5,U,3.0,91766.49,6.0,9.0,46.0,40-50
48686,9999009,2017-03-31 07:18:38,Test,18.0,216.0,68.5,M,3.0,2055381.29,6.0,9.0,68.0,60-70
48687,9999400,2017-04-20 05:23:03,Test,7.0,86.0,28.5,U,2.0,51787.04,0.0,3.0,28.0,20-30
48688,9999729,2017-05-08 16:09:19,Test,10.0,124.0,31.0,F,3.0,107059.74,6.0,9.0,31.0,30-40

In [26]:
# step confirm process
df_process_step_stepconfirm = df1[df1['process_step'] == 'confirm'].reset_index(drop=True)
df_renamed = df_process_step_stepconfirm.rename(columns={'date_time': 'confirm'})
df_dropped = df_renamed.drop(columns=['process_step', 'visit_id', 'visitor_id'])
df_step_confirm = df_dropped
df_step_confirm

,client_id,confirm,Variation,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,clnt_age_rounded,age_category
0,555,2017-04-15 13:00:34,Test,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
1,647,2017-04-12 15:47:45,Test,12.0,151.0,57.5,M,2.0,30525.80,0.0,4.0,58.0,50-60
2,1195,2017-04-05 20:19:31,Control,21.0,262.0,54.5,M,2.0,28457.96,2.0,5.0,54.0,50-60
3,1197,2017-04-01 17:17:59,Control,7.0,85.0,28.5,U,5.0,177062.14,5.0,8.0,28.0,20-30
4,1336,2017-05-08 06:08:43,Test,48.0,576.0,42.0,M,4.0,130537.18,6.0,9.0,42.0,40-50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
43222,9998851,2017-04-05 12:08:43,Test,4.0,58.0,23.5,U,2.0,38473.54,3.0,6.0,24.0,20-30
43223,9998964,2017-04-05 23:50:02,Test,5.0,71.0,45.5,U,3.0,91766.49,6.0,9.0,46.0,40-50
43224,9999009,2017-03-31 07:20:36,Test,18.0,216.0,68.5,M,3.0,2055381.29,6.0,9.0,68.0,60-70
43225,9999400,2017-04-20 05:23:27,Test,7.0,86.0,28.5,U,2.0,51787.04,0.0,3.0,28.0,20-30
43226,9999729,2017-05-08 16:09:40,Test,10.0,124.0,31.0,F,3.0,107059.74,6.0,9.0,31.0,30-40

In [28]:
# Merging on client_id LEFT
dfstartstep1 = pd.merge(df_start, df_step1, on='client_id', how='left')
dfstartstep2 = pd.merge(dfstartstep1, df_step2, on='client_id', how='left')
dfstartstep3 = pd.merge(dfstartstep2, df_step3, on='client_id', how='left')
dfstartconfirm = pd.merge(dfstartstep3, df_step_confirm, on='client_id', how='left')
df_merged = dfstartconfirm
df_merged.head()

# which steps cause most delays
#cast to date_time before subsstracting

MergeError: Passing 'suffixes' which cause duplicate columns {'gendr_x', 'clnt_age_rounded_x', 'num_accts_x', 'calls_6_mnth_x', 'clnt_tenure_mnth_x', 'Variation_x', 'clnt_age_x', 'age_category_x', 'clnt_tenure_yr_x', 'logons_6_mnth_x', 'bal_x'} is not allowed.

In [123]:
# df_grouped = df_merged.groupby(['client_id','visitor_id','visit_id','start','step_1', 'step_2', 'step_3', 'confirm']).max()
df_merged_grouped_clientid = df_merged.groupby(['client_id']).max().reset_index()
df = df_merged_grouped_clientid
# df_merged_grouped_clientid.to_csv('source_grouped_pivoted.csv')

In [138]:
cols_to_convert = ['start', 'step_1', 'step_2', 'step_3', 'confirm']
df[cols_to_convert] = df[cols_to_convert].apply(pd.to_datetime)

In [140]:
df.head(10)

,client_id,visitor_id,visit_id,start,step_1,step_2,step_3,confirm
0,169,201385055_71273495308,749567106_99161211863_557568,2017-04-12 20:19:36,2017-04-12 20:19:45,2017-04-12 20:20:31,2017-04-12 20:22:05,2017-04-12 20:23:09
1,336,64757908_3400128256,649044751_80905125055_554468,2017-06-01 07:42:43,NaT,NaT,NaT,NaT
2,546,475037402_89828530214,731811517_9330176838_94847,2017-06-17 10:03:29,2017-06-17 10:03:39,2017-06-17 10:03:52,2017-06-17 10:05:19,2017-06-17 10:05:42
3,555,402506806_56087378777,637149525_38041617439_716659,2017-04-15 12:57:56,2017-04-15 12:58:03,2017-04-15 12:58:35,2017-04-15 13:00:14,2017-04-15 13:00:34
4,647,66758770_53988066587,40369564_40101682850_311847,2017-04-12 15:41:28,2017-04-12 15:41:35,2017-04-12 15:41:53,2017-04-12 15:45:02,2017-04-12 15:47:45
5,722,919259913_64837298108,984487154_55831795985_521110,2017-04-19 14:56:16,2017-04-19 14:56:18,2017-04-19 14:56:37,2017-04-19 14:57:27,2017-04-19 15:00:09
6,786,439747392_30293505155,640294664_79662229470_499394,2017-06-01 11:01:20,2017-06-01 11:01:26,2017-06-01 11:03:28,2017-06-01 11:04:08,2017-06-01 11:05:34
7,805,831412807_82548325803,905546080_75813398358_250101,2017-06-17 19:23:17,2017-06-17 19:23:20,2017-06-15 19:11:21,NaT,NaT
8,832,645971208_10952400740,704999523_65579948030_431837,2017-06-16 10:38:38,2017-06-16 10:39:30,2017-06-16 10:39:49,2017-06-16 10:40:18,2017-06-16 10:40:52
9,934,810392784_45004760546,7076463_57954418406_971348,2017-04-18 02:38:52,NaT,NaT,NaT,NaT

In [146]:
df['full_process'] = df['confirm']-df['start']
df['start_to_step1'] = df['step_1']-df['start']
df['step1_to_step2'] = df['step_2']-df['step_1']
df['step2_to_step3'] = df['step_3']-df['step_2']
df['step3_to_confirm'] = df['confirm']-df['step_3']
df

,client_id,visitor_id,visit_id,start,step_1,step_2,step_3,confirm,full_process,start_to_step1,step1_to_step2,step2_to_step3,step3_to_confirm
0,169,201385055_71273495308,749567106_99161211863_557568,2017-04-12 20:19:36,2017-04-12 20:19:45,2017-04-12 20:20:31,2017-04-12 20:22:05,2017-04-12 20:23:09,0 days 00:03:33,0 days 00:00:09,0 days 00:00:46,0 days 00:01:34,0 days 00:01:04
1,336,64757908_3400128256,649044751_80905125055_554468,2017-06-01 07:42:43,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2,546,475037402_89828530214,731811517_9330176838_94847,2017-06-17 10:03:29,2017-06-17 10:03:39,2017-06-17 10:03:52,2017-06-17 10:05:19,2017-06-17 10:05:42,0 days 00:02:13,0 days 00:00:10,0 days 00:00:13,0 days 00:01:27,0 days 00:00:23
3,555,402506806_56087378777,637149525_38041617439_716659,2017-04-15 12:57:56,2017-04-15 12:58:03,2017-04-15 12:58:35,2017-04-15 13:00:14,2017-04-15 13:00:34,0 days 00:02:38,0 days 00:00:07,0 days 00:00:32,0 days 00:01:39,0 days 00:00:20
4,647,66758770_53988066587,40369564_40101682850_311847,2017-04-12 15:41:28,2017-04-12 15:41:35,2017-04-12 15:41:53,2017-04-12 15:45:02,2017-04-12 15:47:45,0 days 00:06:17,0 days 00:00:07,0 days 00:00:18,0 days 00:03:09,0 days 00:02:43
...,...,...,...,...,...,...,...,...,...,...,...,...,...
118975,9999729,843385170_36953471821,99583652_41711450505_426179,2017-05-08 16:08:25,2017-05-08 16:08:30,2017-05-08 16:08:40,2017-05-08 16:09:19,2017-05-08 16:09:40,0 days 00:01:15,0 days 00:00:05,0 days 00:00:10,0 days 00:00:39,0 days 00:00:21
118976,9999768,389637884_26725643037,85676722_11636430786_122704,2017-06-03 18:11:24,2017-06-03 18:11:27,2017-06-03 18:11:39,2017-06-03 18:12:43,2017-06-03 18:13:16,0 days 00:01:52,0 days 00:00:03,0 days 00:00:12,0 days 00:01:04,0 days 00:00:33
118977,9999832,145538019_54444341400,472154369_16714624241_585315,2017-05-16 16:46:03,2017-05-16 16:46:11,NaT,NaT,NaT,NaT,0 days 00:00:08,NaT,NaT,NaT
118978,9999839,948322592_28990736246,715530422_68620416793_515645,2017-03-29 12:11:32,2017-03-29 12:11:35,2017-03-29 12:11:50,2017-03-29 12:12:28,2017-03-29 12:13:03,0 days 00:01:31,0 days 00:00:03,0 days 00:00:15,0 days 00:00:38,0 days 00:00:35
118979,9999875,738878760_1556639849,931268933_219402947_599432,2017-06-01 22:40:01,2017-06-01 22:41:28,2017-06-01 22:41:47,2017-06-01 22:44:58,2017-06-01 22:48:39,0 days 00:08:38,0 days 00:01:27,0 days 00:00:19,0 days 00:03:11,0 days 00:03:41