In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [2]:
df = pd.read_csv('/Users/maurits/Documents/Ironhack/week_05/gpw5+6/vanguard-ab-test/data/clean/dataset_TVC_MS.csv')

In [3]:
df.head()

,Unnamed: 0,client_id,level_1,reached_confirm,went_back,TD,SD,S1,S2,S3,...,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,clnt_age_rounded,age_category
0,0,555,reached_confirm,True,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
1,1,555,total_duration_minutes,NaN,NaN,2.633333,NaN,NaN,NaN,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
2,2,555,step_1_duration,NaN,NaN,NaN,NaN,0.533333,NaN,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
3,3,555,step_2_duration,NaN,NaN,NaN,NaN,NaN,1.65,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
4,4,555,went_back,NaN,False,NaN,NaN,NaN,NaN,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30

In [4]:
df.columns

Index(['Unnamed: 0', 'client_id', 'level_1', 'reached_confirm', 'went_back',
       'TD', 'SD', 'S1', 'S2', 'S3', 'BS', 'BS1', 'BS2', 'Variation',
       'clnt_tenure_yr', 'clnt_tenure_mnth', 'clnt_age', 'gendr', 'num_accts',
       'bal', 'calls_6_mnth', 'logons_6_mnth', 'clnt_age_rounded',
       'age_category'],
      dtype='object')

In [5]:
df['bal'].nunique()

50312

In [6]:
df2['bal'].nunique()

NameError: name 'df2' is not defined

In [19]:
df_control = df[df['Variation'] == 'Control']
df_test = df[df['Variation'] == 'Test']

In [21]:
df_test.head(20)

,Unnamed: 0,client_id,level_1,reached_confirm,went_back,TD,SD,S1,S2,S3,...,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,clnt_age_rounded,age_category
0,0,555,reached_confirm,True,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
1,1,555,total_duration_minutes,NaN,NaN,2.633333,NaN,NaN,NaN,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
2,2,555,step_1_duration,NaN,NaN,NaN,NaN,0.533333,NaN,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
3,3,555,step_2_duration,NaN,NaN,NaN,NaN,NaN,1.65,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
4,4,555,went_back,NaN,False,NaN,NaN,NaN,NaN,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
5,5,555,step_3_duration,NaN,NaN,NaN,NaN,NaN,NaN,0.333333,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
6,6,555,start_duration,NaN,NaN,NaN,0.116667,NaN,NaN,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
7,7,647,step_3_duration,NaN,NaN,NaN,NaN,NaN,NaN,2.716667,...,12.0,151.0,57.5,M,2.0,30525.80,0.0,4.0,58.0,50-60
8,8,647,went_back,NaN,False,NaN,NaN,NaN,NaN,NaN,...,12.0,151.0,57.5,M,2.0,30525.80,0.0,4.0,58.0,50-60
9,9,647,total_duration_minutes,NaN,NaN,6.283333,NaN,NaN,NaN,NaN,...,12.0,151.0,57.5,M,2.0,30525.80,0.0,4.0,58.0,50-60
10,10,647,reached_confirm,True,NaN,NaN,NaN,NaN,NaN,NaN,...,12.0,151.0,57.5,M,2.0,30525.80,0.0,4.0,58.0,50-60
11,11,647,step_1_duration,NaN,NaN,NaN,NaN,0.300000,NaN,NaN,...,12.0,151.0,57.5,M,2.0,30525.80,0.0,4.0,58.0,50-60
12,12,647,start_duration,NaN,NaN,NaN,0.116667,NaN,NaN,NaN,...,12.0,151.0,57.5,M,2.0,30525.80,0.0,4.0,58.0,50-60
13,13,647,step_2_duration,NaN,NaN,NaN,NaN,NaN,3.15,NaN,...,12.0,151.0,57.5,M,2.0,30525.80,0.0,4.0,58.0,50-60
14,14,934,start_duration,NaN,NaN,NaN,2.366667,NaN,NaN,NaN,...,9.0,109.0,51.0,F,2.0,32522.88,0.0,3.0,51.0,50-60
15,15,934,went_back,NaN,False,NaN,NaN,NaN,NaN,NaN,...,9.0,109.0,51.0,F,2.0,32522.88,0.0,3.0,51.0,50-60
16,16,934,reached_confirm,False,NaN,NaN,NaN,NaN,NaN,NaN,...,9.0,109.0,51.0,F,2.0,32522.88,0.0,3.0,51.0,50-60
44,44,1336,reached_confirm,True,NaN,NaN,NaN,NaN,NaN,NaN,...,48.0,576.0,42.0,M,4.0,130537.18,6.0,9.0,42.0,40-50
45,45,1336,step_1_duration,NaN,NaN,NaN,NaN,0.433333,NaN,NaN,...,48.0,576.0,42.0,M,4.0,130537.18,6.0,9.0,42.0,40-50
46,46,1336,step_3_duration,NaN,NaN,NaN,NaN,NaN,NaN,1.816667,...,48.0,576.0,42.0,M,4.0,130537.18,6.0,9.0,42.0,40-50

In [23]:
# find age group populations 'total' for test and control
control_age_total = df_control.groupby(['age_category'])['client_id'].nunique() # grouped list by age
test_age_total = df_test.groupby(['age_category'])['client_id'].nunique() # grouped list by age
size_control = control_age_total.sum()
size_test = test_age_total.sum()
control_age_total

age_category
20-30       3724
30-40       4416
40-50       4026
50-60       5208
60-70       4305
over 70     1636
under 20     211
Name: client_id, dtype: int64

In [25]:
# find age group populations 'total' for test and control
control_age_start = df_control[['age_category','client_id', 'SD', 'bal']]
control_age_start = control_age_start.dropna(subset=['SD'])
control_age_start = control_age_start.drop_duplicates(subset=['client_id'])
control_age_start = control_age_start[control_age_start['SD'] != 0]
control_age_start = control_age_start.groupby(['age_category'])['SD'].count()

control_age_start

age_category
20-30       2946
30-40       3443
40-50       3056
50-60       3798
60-70       2982
over 70     1020
under 20     171
Name: SD, dtype: int64

In [31]:
control_age_s3 = df_control[['age_category','client_id', 'S3', 'bal']]
control_age_s3 = control_age_s3.dropna(subset=['S3'])
control_age_s3 = control_age_s3.drop_duplicates(subset=['client_id'])
control_age_s3 = control_age_s3[control_age_s3['S3'] != 0]
control_age_s3 = control_age_s3.groupby(['age_category'])['S3'].count()

control_age_s3

age_category
20-30       2424
30-40       2848
40-50       2614
50-60       3135
60-70       2360
over 70      683
under 20     146
Name: S3, dtype: int64

In [81]:
control_concat = pd.concat([control_age_total, control_age_start], axis=1, join='outer', ignore_index=True)
control_concat['reduction_total_to_start'] = (control_concat[1]/control_concat[0])-1
control_concat = pd.concat([control_concat, control_age_s3], axis=1, join='outer', ignore_index=True)
control_concat['reduction_start_to_confirm'] = (control_concat[3]/control_concat[1])-1
control_concat['reduction_total_to_confirm'] = (control_concat[3]/control_concat[0])-1
control_concat['conversion_rate'] = control_concat['reduction_total_to_confirm'] +1
control_concat = control_concat.rename(columns={0: 'size_total', 1: 'size_start', 2: 'reduction_total_to_start', 3: 'size_confirm'})
control_concat.insert(0, 'group', 'control')
control_concat

,group,size_total,size_start,reduction_total_to_start,size_confirm,reduction_start_to_confirm,reduction_total_to_confirm,conversion_rate
age_category,,,,,,,,
20-30,control,3724,2946,-0.208915,2424,-0.177189,-0.349087,0.650913
30-40,control,4416,3443,-0.220335,2848,-0.172814,-0.355072,0.644928
40-50,control,4026,3056,-0.240934,2614,-0.144634,-0.350720,0.649280
50-60,control,5208,3798,-0.270737,3135,-0.174566,-0.398041,0.601959
60-70,control,4305,2982,-0.307317,2360,-0.208585,-0.451800,0.548200
over 70,control,1636,1020,-0.376528,683,-0.330392,-0.582518,0.417482
under 20,control,211,171,-0.189573,146,-0.146199,-0.308057,0.691943

In [61]:
test_age_start = df_test[['age_category','client_id', 'SD', 'bal']]
test_age_start = test_age_start.dropna(subset=['SD'])
test_age_start = test_age_start.drop_duplicates(subset=['client_id'])
test_age_start = test_age_start[test_age_start['SD'] != 0]
test_age_start = test_age_start.groupby(['age_category'])['SD'].count()

test_age_start

age_category
20-30       3646
30-40       4322
40-50       3794
50-60       4473
60-70       3567
over 70     1237
under 20     220
Name: SD, dtype: int64

In [63]:
test_age_s3 = df_test[['age_category','client_id', 'S3', 'bal']]
test_age_s3 = test_age_s3.dropna(subset=['S3'])
test_age_s3 = test_age_s3.drop_duplicates(subset=['client_id'])
test_age_s3 = test_age_s3[test_age_s3['S3'] != 0]
test_age_s3 = test_age_s3.groupby(['age_category'])['S3'].count()

test_age_s3

age_category
20-30       3179
30-40       3661
40-50       3226
50-60       3820
60-70       2973
over 70      876
under 20     204
Name: S3, dtype: int64

In [79]:
test_concat = pd.concat([test_age_total, test_age_start], axis=1, join='outer', ignore_index=True)
test_concat['reduction_total_to_start'] = (test_concat[1]/test_concat[0])-1
test_concat = pd.concat([test_concat, test_age_s3], axis=1, join='outer', ignore_index=True)
test_concat['reduction_start_to_confirm'] = (test_concat[3]/test_concat[1])-1
test_concat['reduction_total_to_confirm'] = (test_concat[3]/test_concat[0])-1
test_concat['conversion_rate'] = test_concat['reduction_total_to_confirm'] +1
test_concat = test_concat.rename(columns={0: 'size_total', 1: 'size_start', 2: 'reduction_total_to_start', 3: 'size_confirm'})
test_concat.insert(0, 'group', 'test')
test_concat

,group,size_total,size_start,reduction_total_to_start,size_confirm,reduction_start_to_confirm,reduction_total_to_confirm,conversion_rate
age_category,,,,,,,,
20-30,test,4335,3646,-0.158939,3179,-0.128086,-0.266667,0.733333
30-40,test,5257,4322,-0.177858,3661,-0.152938,-0.303595,0.696405
40-50,test,4641,3794,-0.182504,3226,-0.149710,-0.304891,0.695109
50-60,test,5850,4473,-0.235385,3820,-0.145987,-0.347009,0.652991
60-70,test,4822,3567,-0.260265,2973,-0.166526,-0.383451,0.616549
over 70,test,1795,1237,-0.310864,876,-0.291835,-0.511978,0.488022
under 20,test,261,220,-0.157088,204,-0.072727,-0.218391,0.781609

In [89]:
concat_along_rows = pd.concat([control_concat, test_concat], axis=0, join='outer', ignore_index=False)
concat_along_rows = concat_along_rows.sort_index(ascending=True)
concat_along_rows
# concat_along_rows.to_csv('conversion_rates.csv', index=True)

,group,size_total,size_start,reduction_total_to_start,size_confirm,reduction_start_to_confirm,reduction_total_to_confirm,conversion_rate
age_category,,,,,,,,
20-30,control,3724,2946,-0.208915,2424,-0.177189,-0.349087,0.650913
20-30,test,4335,3646,-0.158939,3179,-0.128086,-0.266667,0.733333
30-40,control,4416,3443,-0.220335,2848,-0.172814,-0.355072,0.644928
30-40,test,5257,4322,-0.177858,3661,-0.152938,-0.303595,0.696405
40-50,control,4026,3056,-0.240934,2614,-0.144634,-0.350720,0.649280
40-50,test,4641,3794,-0.182504,3226,-0.149710,-0.304891,0.695109
50-60,control,5208,3798,-0.270737,3135,-0.174566,-0.398041,0.601959
50-60,test,5850,4473,-0.235385,3820,-0.145987,-0.347009,0.652991
60-70,control,4305,2982,-0.307317,2360,-0.208585,-0.451800,0.548200
60-70,test,4822,3567,-0.260265,2973,-0.166526,-0.383451,0.616549
over 70,control,1636,1020,-0.376528,683,-0.330392,-0.582518,0.417482
over 70,test,1795,1237,-0.310864,876,-0.291835,-0.511978,0.488022
under 20,control,211,171,-0.189573,146,-0.146199,-0.308057,0.691943
under 20,test,261,220,-0.157088,204,-0.072727,-0.218391,0.781609

In [93]:
concat_along_rows_grouped = concat_along_rows.groupby(['group']).sum()
concat_along_rows_grouped = concat_along_rows_grouped.drop(columns=['reduction_total_to_start','reduction_start_to_confirm','reduction_total_to_confirm'])
concat_along_rows_grouped['reduction_total_to_start'] = (concat_along_rows_grouped['size_start']/concat_along_rows_grouped['size_total'])-1
concat_along_rows_grouped['reduction_start_to_confirm'] = (concat_along_rows_grouped['size_confirm']/concat_along_rows_grouped['size_start'])-1
concat_along_rows_grouped['reduction_total_to_confirm'] = (concat_along_rows_grouped['size_confirm']/concat_along_rows_grouped['size_total'])-1
concat_along_rows_grouped['conversion_rate'] = concat_along_rows_grouped['reduction_total_to_confirm'] + 1
concat_along_rows_grouped

,size_total,size_start,size_confirm,conversion_rate,reduction_total_to_start,reduction_start_to_confirm,reduction_total_to_confirm
group,,,,,,,
control,23526,17416,14210,0.604013,-0.259713,-0.184084,-0.395987
test,26961,21259,17939,0.665368,-0.211491,-0.156169,-0.334632

In [95]:
# concat_along_rows_grouped.to_csv('conversion_rates_conrolvtest.csv', index=True)

In [53]:
# find means in bal for all age groups

df = df.drop_duplicates(subset=['client_id'])
average_bal_grouped = df.groupby(['age_category'])['bal'].mean()
average_bal_grpdict = dict(average_bal_grouped.round(2))


#values
average_20_30 = average_bal_grpdict['20-30']
average_30_40 = average_bal_grpdict['30-40']
average_40_50 = average_bal_grpdict['40-50']
average_50_60 = average_bal_grpdict['50-60']
average_60_70 = average_bal_grpdict['60-70']
average_over70 = average_bal_grpdict['over 70']
average_bal_grpdict

{'20-30': 62181.79,
 '30-40': 94728.28,
 '40-50': 140106.53,
 '50-60': 179634.28,
 '60-70': 223085.06,
 'over 70': 255003.87,
 'under 20': 41334.51}

In [ ]:
average_bal_grouped

In [97]:
# make an outperformance chart
test_concat

,group,size_total,size_start,reduction_total_to_start,size_confirm,reduction_start_to_confirm,reduction_total_to_confirm,conversion_rate
age_category,,,,,,,,
20-30,test,4335,3646,-0.158939,3179,-0.128086,-0.266667,0.733333
30-40,test,5257,4322,-0.177858,3661,-0.152938,-0.303595,0.696405
40-50,test,4641,3794,-0.182504,3226,-0.149710,-0.304891,0.695109
50-60,test,5850,4473,-0.235385,3820,-0.145987,-0.347009,0.652991
60-70,test,4822,3567,-0.260265,2973,-0.166526,-0.383451,0.616549
over 70,test,1795,1237,-0.310864,876,-0.291835,-0.511978,0.488022
under 20,test,261,220,-0.157088,204,-0.072727,-0.218391,0.781609

In [103]:
test_perf = test_concat.drop(columns=['group', 'size_total', 'size_start', 'size_confirm'])
test_perf = test_perf.rename(columns={'reduction_total_to_start': 'reduction_total_to_start_TEST', 'reduction_start_to_confirm': 'reduction_start_to_confirm_TEST', 'reduction_total_to_confirm': 'reduction_total_to_confirm_TEST', 'conversion_rate': 'conversion_rate_TEST'})
test_perf

,reduction_total_to_start_TEST,reduction_start_to_confirm_TEST,reduction_total_to_confirm_TEST,conversion_rate_TEST
age_category,,,,
20-30,-0.158939,-0.128086,-0.266667,0.733333
30-40,-0.177858,-0.152938,-0.303595,0.696405
40-50,-0.182504,-0.149710,-0.304891,0.695109
50-60,-0.235385,-0.145987,-0.347009,0.652991
60-70,-0.260265,-0.166526,-0.383451,0.616549
over 70,-0.310864,-0.291835,-0.511978,0.488022
under 20,-0.157088,-0.072727,-0.218391,0.781609

In [105]:
control_perf = control_concat.drop(columns=['group', 'size_total', 'size_start', 'size_confirm'])
control_perf = control_perf.rename(columns={'reduction_total_to_start': 'reduction_total_to_start_CONTROL', 'reduction_start_to_confirm': 'reduction_start_to_confirm_CONTROL', 'reduction_total_to_confirm': 'reduction_total_to_confirm_CONTROL', 'conversion_rate': 'conversion_rate_CONTROL'})
control_perf

,reduction_total_to_start_CONTROL,reduction_start_to_confirm_CONTROL,reduction_total_to_confirm_CONTROL,conversion_rate_CONTROL
age_category,,,,
20-30,-0.208915,-0.177189,-0.349087,0.650913
30-40,-0.220335,-0.172814,-0.355072,0.644928
40-50,-0.240934,-0.144634,-0.350720,0.649280
50-60,-0.270737,-0.174566,-0.398041,0.601959
60-70,-0.307317,-0.208585,-0.451800,0.548200
over 70,-0.376528,-0.330392,-0.582518,0.417482
under 20,-0.189573,-0.146199,-0.308057,0.691943

In [111]:
perf_concat = pd.concat([control_perf, test_perf], axis=1, join='outer', ignore_index=False)
perf_concat

,reduction_total_to_start_CONTROL,reduction_start_to_confirm_CONTROL,reduction_total_to_confirm_CONTROL,conversion_rate_CONTROL,reduction_total_to_start_TEST,reduction_start_to_confirm_TEST,reduction_total_to_confirm_TEST,conversion_rate_TEST
age_category,,,,,,,,
20-30,-0.208915,-0.177189,-0.349087,0.650913,-0.158939,-0.128086,-0.266667,0.733333
30-40,-0.220335,-0.172814,-0.355072,0.644928,-0.177858,-0.152938,-0.303595,0.696405
40-50,-0.240934,-0.144634,-0.350720,0.649280,-0.182504,-0.149710,-0.304891,0.695109
50-60,-0.270737,-0.174566,-0.398041,0.601959,-0.235385,-0.145987,-0.347009,0.652991
60-70,-0.307317,-0.208585,-0.451800,0.548200,-0.260265,-0.166526,-0.383451,0.616549
over 70,-0.376528,-0.330392,-0.582518,0.417482,-0.310864,-0.291835,-0.511978,0.488022
under 20,-0.189573,-0.146199,-0.308057,0.691943,-0.157088,-0.072727,-0.218391,0.781609

In [133]:
perf_concat['rel_perf_total_to_start'] = ((perf_concat['reduction_total_to_start_TEST']+1)/(perf_concat['reduction_total_to_start_CONTROL']+1)-1) # OK
perf_concat['rel_perf_start_to_confirm'] = ((perf_concat['reduction_start_to_confirm_TEST']+1)/(perf_concat['reduction_start_to_confirm_CONTROL']+1)-1) # OK
perf_concat['rel_perf_total_to_confirm'] = ((perf_concat['reduction_total_to_confirm_TEST']+1)/(perf_concat['reduction_total_to_confirm_CONTROL']+1)-1) # OK
perf_concat_dropped = perf_concat.drop(columns=['reduction_total_to_start_CONTROL', 'reduction_start_to_confirm_CONTROL', 'reduction_total_to_confirm_CONTROL', 'conversion_rate_CONTROL', 'reduction_total_to_start_TEST', 'reduction_start_to_confirm_TEST', 'reduction_total_to_confirm_TEST', 'conversion_rate_TEST'])
rel_perf_testgrtocontrolgr = perf_concat_dropped
rel_perf_testgrtocontrolgr

,rel_perf_total_to_start,rel_perf_start_to_confirm,rel_perf_total_to_confirm
age_category,,,
20-30,0.063174,0.059678,0.126623
30-40,0.054481,0.024028,0.079819
40-50,0.076976,-0.005935,0.070585
50-60,0.048477,0.034622,0.084778
60-70,0.067927,0.053143,0.124680
over 70,0.105321,0.057582,0.168967
under 20,0.040084,0.086052,0.129586

In [ ]:
# 0.6 conversion in test   0.50 in control  ->  0.6/0.5 = 1.2 -> 0.20%

In [ ]:
df_control_finished = df_control[df_control['reached_confirm'] == True]
df_test_finished = df_test[df_test['reached_confirm'] == True]

In [ ]:
bal_total_control = df_control['bal'].sum()
bal_total_test = df_test['bal'].sum()
bal_total_test / bal_total_control

In [ ]:
# Get total client unique ids in test start
# Get total client unique ids in control start
# Get total client unique ids in test finish
# Get total client unique ids in control finish
size_control = df_control['client_id'].nunique()
size_test = df_test['client_id'].nunique()

In [ ]:
difference_size = size_test / size_control
difference_size

In [ ]:
#Total balance in millions TEST
total_balance_test = (df_test_finished['bal'].sum())
total_balance_test

In [ ]:
#normalise balance test group for size in control group
total_balance_test_adj = total_balance_test / difference_size
total_balance_test_adj

In [ ]:
#Total balance in millions CONTROL
total_balance_control = (df_control_finished['bal'].sum())
total_balance_control

In [ ]:
# improvement $ millions
improvement = total_balance_test_adj - total_balance_control

In [ ]:
# improvement %
(total_balance_test_adj / total_balance_control)-1

Client balance seems to have improved with 2.21% between test and control groups. Since completion rate seems to not have made any improvement, the new UI design may have onboarded a wealthier customer.

In [ ]:
df_control_finished

In [ ]:
bal_control = df_control_finished.groupby(['age_category'])['bal'].sum()
bal_test = df_test_finished.groupby(['age_category'])['bal'].sum() 
bal_control = pd.DataFrame(bal_control)
bal_concat = pd.concat([bal_control, bal_test], axis=1, join='outer', ignore_index=True)

#age groups are weighted equally amongst control and test group, so we can adjust all age groups by the general difference found.
bal_concat['bal_test_adj'] = bal_concat[1] / difference_size
bal_concat = bal_concat.rename(columns={0: 'bal_control', 1: 'bal_test'})
bal_concat['bal_difference_$'] = bal_concat['bal_test_adj'] - bal_concat['bal_control']
bal_concat['bal_difference_%'] = (bal_concat['bal_test_adj'] / bal_concat['bal_control'])-1
bal_perf_byage = bal_concat

sum_bal_diff = bal_concat['bal_difference_$'].sum() #test, should be the same as improvement * 1,000,000
sum_bal_diff / (improvement*1000000) # result is 1.000, so valid

bal_perf_byage
# highest value increases in lower age categories, suggesting that the newer UI is more appealing to younger audiences. We see a 6.1% value decrease in agegroup "over 70"

Highest value increases in lower age categories, suggesting that the newer UI is more appealing to younger audiences. We see a 6.1% value decrease in agegroup "over 70"