In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [6]:
df = pd.read_csv('/Users/maurits/Documents/Ironhack/week_05/gpw5+6/vanguard-ab-test/data/clean/dataset_TVC_MS.csv')

In [8]:
df.head()

,Unnamed: 0,client_id,level_1,reached_confirm,went_back,TD,SD,S1,S2,S3,...,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,clnt_age_rounded,age_category
0,0,555,reached_confirm,True,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
1,1,555,total_duration_minutes,NaN,NaN,2.633333,NaN,NaN,NaN,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
2,2,555,step_1_duration,NaN,NaN,NaN,NaN,0.533333,NaN,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
3,3,555,step_2_duration,NaN,NaN,NaN,NaN,NaN,1.65,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
4,4,555,went_back,NaN,False,NaN,NaN,NaN,NaN,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30

In [ ]:
# def convert_minutes_to_min_sec(minutes):
#     total_seconds = minutes * 60  # Convert minutes to total seconds
#     mins, sec = divmod(total_seconds, 60)
#     whole_seconds = int(sec)
#     fractional_seconds = sec - whole_seconds
#     return f"{int(mins)}:{whole_seconds}"
#     # return f"{int(mins)} minutes, {whole_seconds} seconds, {fractional_seconds:.2f} fractional seconds" 

# # Apply the function to the dataset
# td_concat['converted_time'] = td_concat['TD_control'].apply(convert_minutes_to_min_sec)
# td_concat

In [23]:
df.columns

Index(['Unnamed: 0', 'client_id', 'level_1', 'reached_confirm', 'went_back',
       'TD', 'SD', 'S1', 'S2', 'S3', 'BS', 'BS1', 'BS2', 'Variation',
       'clnt_tenure_yr', 'clnt_tenure_mnth', 'clnt_age', 'gendr', 'num_accts',
       'bal', 'calls_6_mnth', 'logons_6_mnth', 'clnt_age_rounded',
       'age_category'],
      dtype='object')

Find means of all process steps (control and test separately) Maurits
group by all
Group by sex
group by age group
group by ...

Find which steps cause most errors and for how long Maurits
group by all
Group by sex
group by age group
group by whatever

In [27]:
td_mean_control_all = df.groupby(['Variation'])['TD'].mean()
td_mean_control_all = df.groupby(['Variation', 'gendr'])['TD'].mean()
td_mean_control_all = df.groupby(['Variation', 'gendr', 'age_category'])['TD'].mean()

Variation  gendr  age_category
Control    F      20-30           5.284588
                  30-40           5.170363
                  40-50           6.377277
                  50-60           7.118442
                  60-70           7.477143
                  over 70         7.881373
                  under 20        4.852778
           M      20-30           4.873219
                  30-40           5.367931
                  40-50           5.875737
                  50-60           7.166349
                  60-70           7.862484
                  over 70         8.734422
                  under 20        4.561806
           U      20-30           4.953109
                  30-40           5.486319
                  40-50           6.212801
                  50-60           7.469401
                  60-70           7.477168
                  over 70         8.774105
                  under 20        5.011538
Test       F      20-30           4.884158
                  30-40           4.871830
                  40-50           6.132468
                  50-60           7.319080
                  60-70           7.517467
                  over 70         7.480607
                  under 20        6.407971
           M      20-30           4.938842
                  30-40           4.900284
                  40-50           5.796816
                  50-60           7.071899
                  60-70           7.659217
                  over 70         8.468985
                  under 20        4.296795
           U      20-30           4.876063
                  30-40           5.285878
                  40-50           6.091822
                  50-60           7.339753
                  60-70           7.326052
                  over 70         7.027635
                  under 20        4.824638
           X      20-30                NaN
                  40-50                NaN
Name: TD, dtype: float64

In [35]:
df_control = df[df['Variation'] == 'Control']
df_test = df[df['Variation'] == 'Test']

In [98]:
td_mean_control = df_control.groupby(['gendr', 'age_category'])['TD'].mean()
td_mean_test = df_test.groupby(['gendr', 'age_category'])['TD'].mean()
td_concat = pd.concat([td_mean_control, td_mean_test], axis=1, join='outer', ignore_index=True)
td_concat = td_concat.rename(columns={0: 'TD_control', 1: 'TD_test'})
td_concat['TD_difference'] = td_concat['TD_test'] - td_concat['TD_control']
td_concat['TD_difference%'] = (td_concat['TD_test'] / td_concat['TD_control'])-1
td_concat = td_concat.dropna()
# td_concat = td_concat.groupby(['age_category']).mean()
td_concat

                    TD_control   TD_test  TD_difference  TD_difference%
gendr age_category
F     20-30           5.284588  4.884158      -0.400430       -0.075773
      30-40           5.170363  4.871830      -0.298533       -0.057739
      40-50           6.377277  6.132468      -0.244809       -0.038388
      50-60           7.118442  7.319080       0.200637        0.028186
      60-70           7.477143  7.517467       0.040324        0.005393
      over 70         7.881373  7.480607      -0.400765       -0.050850
      under 20        4.852778  6.407971       1.555193        0.320475
M     20-30           4.873219  4.938842       0.065622        0.013466
      30-40           5.367931  4.900284      -0.467647       -0.087119
      40-50           5.875737  5.796816      -0.078921       -0.013432
      50-60           7.166349  7.071899      -0.094450       -0.013180
      60-70           7.862484  7.659217      -0.203268       -0.025853
      over 70         8.734422  8.468985      -0.265437       -0.030390
      under 20        4.561806  4.296795      -0.265011       -0.058093
U     20-30           4.953109  4.876063      -0.077046       -0.015555
      30-40           5.486319  5.285878      -0.200442       -0.036535
      40-50           6.212801  6.091822      -0.120979       -0.019472
      50-60           7.469401  7.339753      -0.129648       -0.017357
      60-70           7.477168  7.326052      -0.151115       -0.020210
      over 70         8.774105  7.027635      -1.746469       -0.199048
      under 20        5.011538  4.824638      -0.186901       -0.037294

In [113]:
sd_mean_control = df_control.groupby(['gendr', 'age_category'])['SD'].mean()
sd_mean_test = df_test.groupby(['gendr', 'age_category'])['SD'].mean()
sd_concat = pd.concat([sd_mean_control, sd_mean_test], axis=1, join='outer', ignore_index=True)
# sd_concat = sd_concat.rename(columns={0: 'SD_control', 1: 'SD_test'})
sd_concat['SD_difference'] = sd_concat['SD_test'] - sd_concat['SD_control']
sd_concat['SD_difference%'] = (sd_concat['SD_test'] / sd_concat['SD_control'])-1
sd_concat = sd_concat.dropna()

                    TD_control   TD_test  TD_difference  TD_difference%  \
gendr age_category
F     20-30           5.284588  4.884158      -0.400430       -0.075773
      30-40           5.170363  4.871830      -0.298533       -0.057739
      40-50           6.377277  6.132468      -0.244809       -0.038388
      50-60           7.118442  7.319080       0.200637        0.028186
      60-70           7.477143  7.517467       0.040324        0.005393
      over 70         7.881373  7.480607      -0.400765       -0.050850
      under 20        4.852778  6.407971       1.555193        0.320475
M     20-30           4.873219  4.938842       0.065622        0.013466
      30-40           5.367931  4.900284      -0.467647       -0.087119
      40-50           5.875737  5.796816      -0.078921       -0.013432
      50-60           7.166349  7.071899      -0.094450       -0.013180
      60-70           7.862484  7.659217      -0.203268       -0.025853
      over 70         8.734422  8.468985      -0.265437       -0.030390
      under 20        4.561806  4.296795      -0.265011       -0.058093
U     20-30           4.953109  4.876063      -0.077046       -0.015555
      30-40           5.486319  5.285878      -0.200442       -0.036535
      40-50           6.212801  6.091822      -0.120979       -0.019472
      50-60           7.469401  7.339753      -0.129648       -0.017357
      60-70           7.477168  7.326052      -0.151115       -0.020210
      over 70         8.774105  7.027635      -1.746469       -0.199048
      under 20        5.011538  4.824638      -0.186901       -0.037294

                    SD_control   SD_test  SD_difference  SD_difference%
gendr age_category
F     20-30           0.581550  0.558258      -0.023292       -0.040052
      30-40           0.580596  0.593639       0.013043        0.022465
      40-50           0.696552  0.693374      -0.003178       -0.004563
      50-60           0.823145  0.815936      -0.007209       -0.008758
      60-70           0.953351  0.884443      -0.068908       -0.072280
      over 70         1.054084  0.974394      -0.079691       -0.075602
      under 20        0.632292  0.749462       0.117171        0.185311
M     20-30           0.527012  0.630473       0.103460        0.196315
      30-40           0.575192  0.641364       0.066172        0.115044
      40-50           0.615032  0.672286       0.057254        0.093091
      50-60           0.831704  0.784079      -0.047625       -0.057262
      60-70           0.962727  0.851963      -0.110764       -0.115052
      over 70         1.192299  1.019612      -0.172687       -0.144835
      under 20        0.805376  0.322381      -0.482995       -0.599714
U     20-30           0.551553  0.578475       0.026922        0.048811
      30-40           0.594913  0.643886       0.048972        0.082319
      40-50           0.696260  0.717618       0.021357        0.030674
      50-60           0.831702  0.759990      -0.071713       -0.086224
      60-70           0.974887  0.874044      -0.100843       -0.103441
      over 70         1.139521  0.922052      -0.217469       -0.190842
      under 20        0.492070  0.593615       0.101545        0.206363

In [116]:
s1_mean_control = df_control.groupby(['gendr', 'age_category'])['S1'].mean()
s1_mean_test = df_test.groupby(['gendr', 'age_category'])['S1'].mean()
s1_concat = pd.concat([s1_mean_control, s1_mean_test], axis=1, join='outer', ignore_index=True)
s1_concat = s1_concat.rename(columns={0: 'S1_control', 1: 'S1_test'})
s1_concat['S1_difference'] = s1_concat['S1_test'] - s1_concat['S1_control']
s1_concat['S1_difference%'] = (s1_concat['S1_test'] / s1_concat['S1_control'])-1
s1_concat = s1_concat.dropna()
# s1_concat = s1_concat.groupby(['age_category']).mean()
s1_concat

                    S1_control   S1_test  S1_difference  S1_difference%
gendr age_category
F     20-30           0.430788  0.606165       0.175376        0.407106
      30-40           0.487122  0.602127       0.115005        0.236090
      40-50           0.622612  0.688685       0.066073        0.106122
      50-60           0.785624  0.826054       0.040430        0.051463
      60-70           0.872416  0.895483       0.023067        0.026441
      over 70         0.969466  1.031124       0.061658        0.063600
      under 20        0.366667  0.631609       0.264943        0.722571
M     20-30           0.443127  0.646589       0.203463        0.459153
      30-40           0.468151  0.630447       0.162296        0.346675
      40-50           0.657555  0.710967       0.053412        0.081228
      50-60           0.770109  0.823087       0.052978        0.068792
      60-70           0.902710  0.942018       0.039308        0.043545
      over 70         1.061067  1.050881      -0.010186       -0.009600
      under 20        0.300521  0.632895       0.332374        1.105993
U     20-30           0.350646  0.641971       0.291324        0.830822
      30-40           0.412608  0.630464       0.217855        0.527995
      40-50           0.506431  0.666957       0.160526        0.316974
      50-60           0.630247  0.830367       0.200120        0.317526
      60-70           0.720119  0.900858       0.180738        0.250984
      over 70         0.841709  1.018673       0.176963        0.210243
      under 20        0.324861  0.709028       0.384167        1.182557

In [ ]:
sd_concat = pd.concat([td_concat, sd_concat], axis=1, join='outer', ignore_index=False)