In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [2]:
df = pd.read_csv("/Users/maurits/Documents/Ironhack/week_05/gpw5+6/vanguard-ab-test/data/clean/dataset_complete_beta.csv")

In [3]:
df.head(25)

,Unnamed: 0.1,Unnamed: 0,client_id,visitor_id,visit_id,start,step_1,step_2,step_3,confirm,...,bal,calls_6_mnth,logons_6_mnth,clnt_age_rounded,age_category,full_process,start_to_step1,step1_to_step2,step2_to_step3,step3_to_confirm
0,3,3,555,402506806_56087378777,637149525_38041617439_716659,2017-04-15 12:57:56,2017-04-15 12:58:03,2017-04-15 12:58:35,2017-04-15 13:00:14,2017-04-15 13:00:34,...,25454.66,2.0,6.0,30.0,20-30,0 days 00:02:38,0 days 00:00:07,0 days 00:00:32,0 days 00:01:39,0 days 00:00:20
1,4,4,647,66758770_53988066587,40369564_40101682850_311847,2017-04-12 15:41:28,2017-04-12 15:41:35,2017-04-12 15:41:53,2017-04-12 15:45:02,2017-04-12 15:47:45,...,30525.80,0.0,4.0,58.0,50-60,0 days 00:06:17,0 days 00:00:07,0 days 00:00:18,0 days 00:03:09,0 days 00:02:43
2,9,9,934,810392784_45004760546,7076463_57954418406_971348,2017-04-18 02:38:52,NaN,NaN,NaN,NaN,...,32522.88,0.0,3.0,51.0,50-60,NaN,NaN,NaN,NaN,NaN
3,10,10,1028,42237450_62128060588,557292053_87239438319_391157,2017-04-08 18:51:28,2017-04-08 19:00:26,2017-04-08 19:00:17,2017-04-08 18:58:04,NaN,...,103520.22,1.0,4.0,36.0,30-40,NaN,0 days 00:08:58,-1 days +23:59:51,-1 days +23:57:47,NaN
4,12,12,1104,194240915_18158000533,643221571_99977972121_69283,2017-06-20 22:31:33,NaN,NaN,NaN,NaN,...,154643.94,6.0,9.0,48.0,40-50,NaN,NaN,NaN,NaN,NaN
5,13,13,1186,446844663_31615102958,795373564_99931517312_810896,2017-04-08 18:05:02,2017-04-08 18:05:13,2017-04-08 18:05:24,NaN,NaN,...,31662.52,0.0,3.0,22.0,20-30,NaN,0 days 00:00:11,0 days 00:00:11,NaN,NaN
6,14,14,1195,766842522_69992551638,393817425_39015278493_996341,2017-04-05 20:15:26,2017-04-05 20:15:59,2017-04-05 20:17:37,2017-04-05 20:18:08,2017-04-05 20:19:31,...,28457.96,2.0,5.0,54.0,50-60,0 days 00:04:05,0 days 00:00:33,0 days 00:01:38,0 days 00:00:31,0 days 00:01:23
7,15,15,1197,753759429_54481946928,71862471_21202285428_848395,2017-04-01 17:16:24,2017-04-01 17:16:28,2017-04-01 17:17:36,2017-04-01 17:17:42,2017-04-01 17:17:59,...,177062.14,5.0,8.0,28.0,20-30,0 days 00:01:35,0 days 00:00:04,0 days 00:01:08,0 days 00:00:06,0 days 00:00:17
8,17,17,1336,920624746_32603333901,583743392_96265099036_939815,2017-05-08 06:05:12,2017-05-08 06:05:37,2017-05-08 06:06:03,2017-05-08 06:06:54,2017-05-08 08:23:00,...,130537.18,6.0,9.0,42.0,40-50,0 days 02:17:48,0 days 00:00:25,0 days 00:00:26,0 days 00:00:51,0 days 02:16:06
9,18,18,1346,123474046_4204671056,27144337_83739845380_214282,2017-06-06 18:28:40,2017-06-06 18:23:54,2017-06-06 18:24:01,2017-06-06 18:28:43,NaN,...,822512.91,3.0,6.0,46.0,40-50,NaN,-1 days +23:55:14,0 days 00:00:07,0 days 00:04:42,NaN
10,20,20,1368,366307863_19014662045,784065271_45379483290_309335,2017-04-09 21:58:28,NaN,NaN,NaN,NaN,...,61956.25,6.0,9.0,45.0,40-50,NaN,NaN,NaN,NaN,NaN
11,23,23,1516,182314299_63168583136,481123290_95510977345_707323,2017-04-06 22:14:24,2017-04-06 22:15:20,2017-04-06 22:15:55,2017-04-06 22:26:02,2017-04-06 22:30:18,...,25408.39,5.0,8.0,58.0,50-60,0 days 00:15:54,0 days 00:00:56,0 days 00:00:35,0 days 00:10:07,0 days 00:04:16
12,27,27,1643,910842861_51062379179,753205700_16851596206_134483,2017-06-10 07:49:27,2017-06-10 07:50:27,2017-06-10 07:50:43,2017-06-10 08:00:25,2017-06-10 08:00:55,...,81731.39,0.0,3.0,55.0,50-60,0 days 00:11:28,0 days 00:01:00,0 days 00:00:16,0 days 00:09:42,0 days 00:00:30
13,31,31,1755,230596682_29327090182,690855460_62242406510_53318,2017-04-02 11:50:21,2017-04-02 11:52:22,2017-04-02 11:52:41,2017-04-02 11:53:08,2017-04-02 11:54:04,...,179775.22,0.0,3.0,46.0,40-50,0 days 00:03:43,0 days 00:02:01,0 days 00:00:19,0 days 00:00:27,0 days 00:00:56
14,32,32,1836,619440135_40983729273,624455994_87386716654_950064,2017-04-07 09:36:07,2017-04-07 09:36:21,2017-04-05 18:48:27,2017-04-05 18:48:54,2017-04-05 18:53:03,...,826232.62,4.0,7.0,52.0,50-60,-2 days +09:16:56,0 days 00:00:14,-2 days +09:12:06,0 days 00:00:27,0 days 00:04:09
15,34,34,1936,883992205_24100452548,943469853_76229226125_839996,2017-03-29 12:54:05,2017-03-29 12:54:13,2017-03-29 12:55:28,2017-03-29 12:55:39,2017-03-29 12:55:56,...,52447.90,6.0,9.0,26.0,20-30,0 days 00:01:51,0 days 00:00:08,0 days 00:01:15,0 days 00:00:11,0 days 00:00:17
16,38,38,2439,607208067_70160939111,848231744_22569944243_37711,2017-03-23 14:59:23,NaN,NaN,NaN,NaN,...,504142.55,0.0,3.0,56.0,50-60,NaN,NaN,NaN,NaN,NaN
17,40,40,2581,770616558_80928163524,182925466_27021409208_83502,2017-04-09 06:11:41,NaN,NaN,NaN,NaN,...,24976.79,1.0,4.0,22.0,20-30,NaN,NaN,NaN,NaN,NaN
18,42,42,2720,560535515_73647480772,565429886_73206140156_730955,2017-04-03 16:08:23,NaN,NaN,NaN,NaN,...,81536.00,6.0,9.0,25.0,20-30,NaN,NaN,NaN,NaN,NaN
19,44,44,3232,48719955_20160099584,842251962_41107309625_824575,2017-06-15 12:14:40,2017-06-15 12:14:54,2017-06-15 12:15:07,2017-06-15 12:19:33,2017-06-15 12:20:00,...,45617.96,3.0,6.0,52.0,50-60,0 days 00:05:20,0 days 00:00:14,0 days 00:00:13,0 days 00:04:26,0 days 00:00:27
20,46,46,3572,339364993_3869667206,353683085_82881264671_340960,2017-04-05 17:51:55,2017-04-05 17:52:05,2017-04-05 17:52:59,2017-04-05 17:54:49,2017-04-05 17:56:10,...,84673.58,0.0,3.0,54.0,50-60,0 days 00:04:15,0 days 00:00:10,0 days 00:00:54,0 days 00:01:50,0 days 00:01:21
21,47,47,3647,742136411_92170694666,53540785_76819002881_890663,2017-06-01 16:01:23,2017-06-01 15:48:13,2017-06-01 15:49:59,2017-06-01 15:57:33,NaN,...,154244.15,4.0,7.0,63.0,60-70,NaN,-1 days +23:46:50,0 days 00:01:46,0 days 00:07:34,NaN
22,49,49,3743,179439784_83920302761,438930656_9173628148_961548,2017-06-16 06:32:12,2017-06-16 06:32:25,2017-06-16 06:33:04,2017-06-16 06:35:25,2017-06-16 06:37:04,...,48262.21,3.0,6.0,30.0,30-40,0 days 00:04:52,0 days 00:00:13,0 days 00:00:39,0 days 00:02:21,0 days 00:01:39
23,55,55,4369,162117827_70395546784,656208801_69300634704_561318,2017-04-05 13:14:19,2017-04-05 13:14:30,2017-04-05 13:14:56,2017-04-05 13:15:43,2017-04-05 13:24:51,...,191263.96,0.0,3.0,70.0,over 70,0 days 00:10:32,0 days 00:00:11,0 days 00:00:26,0 days 00:00:47,0 days 00:09:08
24,56,56,4484,929634148_40943099576,66056328_29973355596_981576,2017-04-05 20:40:10,2017-04-05 20:41:01,2017-04-05 20:41:53,2017-04-05 20:47:28,2017-04-05 20:52:35,...,51499.77,2.0,5.0,48.0,40-50,0 days 00:12:25,0 days 00:00:51,0 days 00:00:52,0 days 00:05:35,0 days 00:05:07

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50076 entries, 0 to 50075
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0.1      50076 non-null  int64
 1   Unnamed: 0        50076 non-null  int64
 2   client_id         50076 non-null  int64
 3   visitor_id        50076 non-null  object
 4   visit_id          50076 non-null  object
 5   start             50076 non-null  object
 6   step_1            44283 non-null  object
 7   step_2            40762 non-null  object
 8   step_3            38126 non-null  object
 9   confirm           33730 non-null  object
 10  Variation         50076 non-null  object
 11  clnt_tenure_yr    50064 non-null  float64
 12  clnt_tenure_mnth  50064 non-null  float64
 13  clnt_age          50063 non-null  float64
 14  gendr             50064 non-null  object
 15  num_accts         50064 non-null  float64
 16  bal               50064 non-null  float64
 17  calls_6_mnth      50064 non-null  float64
 18  logons_6_mnth     50064 non-null  float64
 19  clnt_age_rounded  50063 non-null  float64
 20  age_category      50063 non-null  object
 21  full_process      33730 non-null  object
 22  start_to_step1    44283 non-null  object
 23  step1_to_step2    40748 non-null  object
 24  step2_to_step3    38054 non-null  object
 25  step3_to_confirm  33612 non-null  object
dtypes: float64(8), int64(3), object(15)
memory usage: 9.9+ MB

In [5]:
df_test = df[df['Variation'] == 'Test']
df_control = df[df['Variation'] == 'Control']

In [6]:
df_test

,Unnamed: 0.1,Unnamed: 0,client_id,visitor_id,visit_id,start,step_1,step_2,step_3,confirm,...,bal,calls_6_mnth,logons_6_mnth,clnt_age_rounded,age_category,full_process,start_to_step1,step1_to_step2,step2_to_step3,step3_to_confirm
0,3,3,555,402506806_56087378777,637149525_38041617439_716659,2017-04-15 12:57:56,2017-04-15 12:58:03,2017-04-15 12:58:35,2017-04-15 13:00:14,2017-04-15 13:00:34,...,25454.66,2.0,6.0,30.0,20-30,0 days 00:02:38,0 days 00:00:07,0 days 00:00:32,0 days 00:01:39,0 days 00:00:20
1,4,4,647,66758770_53988066587,40369564_40101682850_311847,2017-04-12 15:41:28,2017-04-12 15:41:35,2017-04-12 15:41:53,2017-04-12 15:45:02,2017-04-12 15:47:45,...,30525.80,0.0,4.0,58.0,50-60,0 days 00:06:17,0 days 00:00:07,0 days 00:00:18,0 days 00:03:09,0 days 00:02:43
2,9,9,934,810392784_45004760546,7076463_57954418406_971348,2017-04-18 02:38:52,NaN,NaN,NaN,NaN,...,32522.88,0.0,3.0,51.0,50-60,NaN,NaN,NaN,NaN,NaN
8,17,17,1336,920624746_32603333901,583743392_96265099036_939815,2017-05-08 06:05:12,2017-05-08 06:05:37,2017-05-08 06:06:03,2017-05-08 06:06:54,2017-05-08 08:23:00,...,130537.18,6.0,9.0,42.0,40-50,0 days 02:17:48,0 days 00:00:25,0 days 00:00:26,0 days 00:00:51,0 days 02:16:06
9,18,18,1346,123474046_4204671056,27144337_83739845380_214282,2017-06-06 18:28:40,2017-06-06 18:23:54,2017-06-06 18:24:01,2017-06-06 18:28:43,NaN,...,822512.91,3.0,6.0,46.0,40-50,NaN,-1 days +23:55:14,0 days 00:00:07,0 days 00:04:42,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50071,118969,118969,9999150,665127594_52605538620,982803842_91891255980_123078,2017-05-29 16:55:30,2017-05-29 16:55:18,NaN,NaN,NaN,...,97141.71,6.0,9.0,30.0,30-40,NaN,-1 days +23:59:48,NaN,NaN,NaN
50072,118971,118971,9999400,915967319_19082377501,288904166_90826265353_276104,2017-04-20 05:21:28,2017-04-20 05:21:50,2017-04-20 05:22:17,2017-04-20 05:23:03,2017-04-20 05:23:27,...,51787.04,0.0,3.0,28.0,20-30,0 days 00:01:59,0 days 00:00:22,0 days 00:00:27,0 days 00:00:46,0 days 00:00:24
50073,118974,118974,9999626,52633065_71189986073,182723364_27031318473_880901,2017-05-14 09:07:51,2017-05-14 09:07:59,NaN,NaN,NaN,...,36642.88,6.0,9.0,35.0,30-40,NaN,0 days 00:00:08,NaN,NaN,NaN
50074,118975,118975,9999729,843385170_36953471821,99583652_41711450505_426179,2017-05-08 16:08:25,2017-05-08 16:08:30,2017-05-08 16:08:40,2017-05-08 16:09:19,2017-05-08 16:09:40,...,107059.74,6.0,9.0,31.0,30-40,0 days 00:01:15,0 days 00:00:05,0 days 00:00:10,0 days 00:00:39,0 days 00:00:21
50075,118977,118977,9999832,145538019_54444341400,472154369_16714624241_585315,2017-05-16 16:46:03,2017-05-16 16:46:11,NaN,NaN,NaN,...,431887.61,1.0,4.0,49.0,40-50,NaN,0 days 00:00:08,NaN,NaN,NaN

In [7]:
# Convert the 'full_process' column to a timedelta format
df['full_process'] = pd.to_timedelta(df['full_process'], errors='coerce')

# Now group by 'age_category' and calculate the mean of 'full_process'
age_category_mean_full_process = df.groupby('age_category')['full_process'].mean()

# Display the result
age_category_mean_full_process

age_category
20-30      0 days 07:47:35.122643171
30-40      0 days 11:48:37.374697336
40-50      0 days 22:37:34.977135171
50-60      1 days 02:42:31.629584681
60-70      1 days 10:22:14.676167987
over 70    2 days 08:23:27.247619047
under 20   0 days 17:20:19.541899441
Name: full_process, dtype: timedelta64[ns]

In [14]:
# Convert the 'full_process' column to a timedelta format
df['full_process'] = pd.to_timedelta(df['full_process'], errors='coerce')

# Now group by 'age_category' and calculate the mean of 'full_process'
age_category_mean_full_process = df.groupby('age_category')['full_process'].min()

# Display the result
age_category_mean_full_process

age_category
20-30      -79 days +12:09:01
30-40      -35 days +21:44:49
40-50      -59 days +03:35:54
50-60      -80 days +21:12:52
60-70      -57 days +00:00:36
over 70    -59 days +00:38:16
under 20    -9 days +06:18:39
Name: full_process, dtype: timedelta64[ns]

In [8]:
# problematic_entries = df[df['full_process'].apply(lambda x: isinstance(x, pd.Timestamp) or isinstance(x, str))]['full_process'].unique()

# problematic_entries

<TimedeltaArray>
[]
Length: 0, dtype: timedelta64[ns]

In [9]:
# df['full_process'] = df['full_process'].astype(str)
# df['full_process'] = pd.to_timedelta(df['full_process'], errors='coerce')

# # Check if the conversion is successful and there are no more errors
# df['full_process'].dtype, df['full_process'].head()

(dtype('<m8[ns]'),
 0   0 days 00:02:38
 1   0 days 00:06:17
 2               NaT
 3               NaT
 4               NaT
 Name: full_process, dtype: timedelta64[ns])

In [10]:
# df['full_process'] = df['full_process'].astype(str)

In [11]:
# df['full_process'] = pd.to_timedelta(df['full_process'], errors='coerce')

In [12]:
# df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50076 entries, 0 to 50075
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0.1      50076 non-null  int64
 1   Unnamed: 0        50076 non-null  int64
 2   client_id         50076 non-null  int64
 3   visitor_id        50076 non-null  object
 4   visit_id          50076 non-null  object
 5   start             50076 non-null  object
 6   step_1            44283 non-null  object
 7   step_2            40762 non-null  object
 8   step_3            38126 non-null  object
 9   confirm           33730 non-null  object
 10  Variation         50076 non-null  object
 11  clnt_tenure_yr    50064 non-null  float64
 12  clnt_tenure_mnth  50064 non-null  float64
 13  clnt_age          50063 non-null  float64
 14  gendr             50064 non-null  object
 15  num_accts         50064 non-null  float64
 16  bal               50064 non-null  float64
 17  calls_6_mnth      50064 non-null  float64
 18  logons_6_mnth     50064 non-null  float64
 19  clnt_age_rounded  50063 non-null  float64
 20  age_category      50063 non-null  object
 21  full_process      33730 non-null  timedelta64[ns]
 22  start_to_step1    44283 non-null  object
 23  step1_to_step2    40748 non-null  object
 24  step2_to_step3    38054 non-null  object
 25  step3_to_confirm  33612 non-null  object
dtypes: float64(8), int64(3), object(14), timedelta64[ns](1)
memory usage: 9.9+ MB

In [13]:
# df_test['full_process'].mean()

TypeError: can only concatenate str (not "int") to str

In [ ]:
df_test['full_process'] = pd.to_datetime(df['full_process'])
df_test_grouped = df_test.groupby('age_category')['full_process'].mean().reset_index()
df_test_grouped

In [ ]:
# Convert the 'start_time' and 'end_time' columns to datetime
df['start_time'] = pd.to_datetime(df['start_time'])
df['end_time'] = pd.to_datetime(df['end_time'])

# Calculate time differences in seconds
df['completion_time_seconds'] = (df['end_time'] - df['start_time']).dt.total_seconds()

# Group by 'department' and calculate the mean completion time
grouped_df_completion_time = df.groupby('department')['completion_time_seconds'].mean().reset_index()

# Convert time from seconds to hours, if needed
grouped_df_completion_time['mean_completion_time_hours'] = grouped_df_completion_time['completion_time_seconds'] / 3600

print("\nGrouped DataFrame with Mean Completion Time (in seconds and hours):")
print(grouped_df_completion_time)